.collectionListWrapper {
    width: 100%;
    padding: 16px;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.collectionListCard {
    width: 100%;
    background-color: #fff;
}

.collectionListCardImgCover {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.collectionListCardImgBlur {
    /* Background */
    background-size: cover;
    background-position: center;
    /* Blur */
    filter: blur(8px) brightness(0.9);
    /* Position */
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: 1;
}

.collectionListCardImgMain {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Position */
    position: relative;
    z-index: 2;
}

.collectionListCardTextCover {
    padding: 16px 12px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center align title */
    text-align: center;
    gap: 8px;
}

.collectionListCardTextCover * {
    width: 100%;
    /* over text hidden and ... */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collectionTitleText {
    color: #111;
}

.collectionListCardLink {
    background-color: #f3f4f6 !important;
    color: #4b5563 !important;
}

.collectionListCardLink:hover {
    background-color: #e5e7eb !important;
    color: #1f2937 !important;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {}

@media only all and (min-width: 480px) {
    .collectionListWrapper {
        /* flex */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
    }

    .collectionListCard {
        width: calc((100% - 10px) / 2);
        background-color: #fff;
    }
}

@media only all and (min-width: 768px) {
    .collectionListWrapper {
        max-width: 1440px;
        margin: 0 auto;
    }

    .collectionListCard {
        width: calc((100% - 20px) / 3);
        background-color: #fff;
    }
}

@media only all and (min-width: 1024px) {
    .collectionListCard {
        width: calc((100% - 30px) / 4);
        background-color: #fff;
    }
}

@media only all and (min-width: 1921px) {
    .collectionListWrapper {
        max-width: 1920px;
    }
}