* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Paperozi', sans-serif;
}

/* 영어 페이지일 때 */
:lang(en) {
  font-family: 'Lato', sans-serif;
}
/* 구분선 8px */
.emptyLine {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(230, 231, 232, 0.647);
}

/* 구분선 1px */
.emptyLine1px {
    width: 100%;
    height: 1px;
    background-color: rgba(230, 231, 232, 0.647);
}

/* Detail Page Min 768px Title */
.detailTitleMin768 {
  display: block;
  width: 100%;
  padding: 20px 20px 20px 0;
  /* Font */
  font-size: 1.25rem;
  font-weight: 600;
}

/* Detail Page Max 767px Title */
.detailTitleMax768 {
    margin-bottom: 20px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 1023px) {
}

@media only all and (min-width: 1024px) {
}