footer {
    width: 100%;
    height: auto;
    background: #161310;
    color: #fff;
    /* margin-top: 40px; */
    letter-spacing: 0.02em;
    /* Position */
    position: relative;
}

.footerWrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 16px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.footerLeftCover .logo {
    width: 121px;
    cursor: pointer;
    margin-bottom: 15px;
    /* Flex */
    display: flex;  
}

.footerLeftCover .logo img {
    height: 40px;
    margin-right: 5px;
}

.footerSlogan {
    white-space: pre-line;
    /* Font */
    font-size: 14px;
    color: #BAB9B8;
}

.footerBrowseTitle,
.footerEmailTitle {
    margin-bottom: 15px;
}

.footerBrowse ul li {
    width: 100px;
    cursor: pointer;
    margin-bottom: 5px;
    /* Font */
    font-size: 14px;
    color: #BAB9B8;
}

.footerBrowse ul li:hover {
    /* Font */
    font-weight: 500;
    color: #fafaf8;
}

.footerEmail {
    width: 100%;
    margin-bottom: 10px;
    /* Font */
    font-size: 14px;
    color:#BAB9B8;
    /* Flex */
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerEmail img {
    width: 18px;
    height: 17px;
}

.footerLinks {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.footerLinks a {
    width: 35px;
    height: 35px;
    background-color: #2E2B28;
    border-radius: 999px;
    cursor: pointer;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLinks a:hover {
    background-color: #b54a2f;
}

.footerLinks a img {
    width: 20px;
    height: 20px;
}

.footerCopyrightTextCover {
    padding: 20px 16px;
    border-top: 1px solid #2E2B28;
    /* Flex */
    display: flex;
    flex-direction: column;
    /* Font */
    color: #8B8984;
}

.warnings {
    width: 100%;
    margin-bottom: 10px;
}
    
.footerCopyRight {
    width: 100%;
    /* Font */
    font-weight: 500;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {

}

@media only all and (min-width: 768px) {

    .footerWrapper {
        padding: 70px 0 40px;
        /* Flex */
        flex-direction: row;
        gap: 5px;
    }

    .footerWrapper > div {
        width: calc((100% - 10px)/3);
    }

    .footerEmailCover {
        margin-bottom: 15px;
    }

    .footerCopyrightTextCover {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 0 40px;
        /* Flex */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footerCopyRight {
        text-align: right;
    }
}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .footerWrapper,
    .footerCopyrightTextCover {
        max-width: 1920px;
    }
}