footer {
    width: 100vw;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 15px solid #cacaca;
    /* Position */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.footerLinkCover {
    height: 100%;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerLinkCover a {
    cursor: pointer;
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footerLinkCover a img {
    width: 30px;
}

.footerIcon {
    width: calc(100% / 6);
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {

}

@media only all and (min-width: 768px) {
    footer {
        width: 100%;
        height: auto;
        background: #e2e8f0;
        color: #000;
        /* margin-top: 40px; */
        letter-spacing: 0.02em;
        /* Position */
        position: relative;
    }

    .footerLinkCover,
    .footerTextCover {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
        padding: 30px 16px 0;
        background-color: transparent;
    }

    .footerTextCover {
        padding-top: 0;
        padding-bottom: 15px;
    }

    .footerLinkCover {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        /* Flex */
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
    }
    .warnings {
        width: 100%;
        margin-bottom: 10px;
        /* Font */
        color: #525252;
    }

    .footerEmail {
        width: 100%;
        margin-bottom: 10px;
        /* Font */
        font-weight: 700;
    }
    
    .footerCopyRight {
        width: 100%;
        /* Font */
        font-weight: 500;
    }
}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .footerLinkCover,
    .footerTextCover {
        max-width: 1920px;
    }
}