.explainCover {
    width: 100%;
    padding: 16px 16px 0;
    border-radius: 10px;
    word-break: break-all;
    /* Position */
    position: relative;
}

.explainCover .explainTitle {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    font-size: 1.563rem;
    font-weight: 900;
}

.explainCover .explain {
    width: 100%;
    margin-bottom: 16px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 25px;
}

.explainCover .explainLast {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    color: #525252;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 20px;
    white-space: pre-wrap;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px;        
    }
}

@media only all and (min-width: 768px) {    
    .explainCover {
        padding: 0;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    
    .explainTextImgCover {
        width: 100%;
        padding: 16px 0;
        /* Flex */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .explainImgCover {
        width: 100%;
        aspect-ratio: 16/5;
        border-radius: 10px;
        overflow: hidden;
    }

    .explainImgCover img {
        width: 100%;
        aspect-ratio: 16/5;
        object-fit: cover;
        object-position: center bottom;
    }

    .explainTextCover {
        width: 100%;
        align-self: stretch;
    }

    .explainTextCover .explainTitle  {
        text-align: left;
        /* Font */
        font-size: 1.5rem;
    }

    .explainTextCover .explain  {
        text-align: left;    
        /* Font */
        font-size: 1rem; 
        line-height: 30px;
        letter-spacing: 0.02em;  
    }

    .explainTextCover .explainLast {
        margin-bottom: 0;
        /* Font */
        text-align: left;
        /* Font */
        font-size: 0.875rem;
        line-height: 25px;
        letter-spacing: 0.03em;  
    }
}

@media only all and (min-width: 1024px) {    
    .explainTextImgCover {
        padding: 16px;
        padding-left: 0;
        /* Flex */
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
    }
    
    .explainImgCover {
        width: calc((100% - 10px) * 0.3);
        aspect-ratio: auto;
        /* Flex */
        display: flex;
    }

    .explainImgCover img{
        width: 100%;
        height: 100%;
        aspect-ratio: auto;
        object-fit: cover; 
        object-position: center bottom;
    }

    .explainTextCover {
        width: calc((100% - 10px) * 0.7);
    }
}