.detailLinkWrapper {
    padding: 16px;
}

.detailLinkCover {
    padding: 16px 0;
    cursor: pointer;
    /* Flex */
    display: flex;
    gap: 20px;
}

.detailLinkIcon {
    width: 35px;
    aspect-ratio: 1/1;
}

.detailLinkIcon img {
    width: 100%;
}

.detailLinkNoLink {
    margin-top: 8px;
    text-align: center;
}

/*---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) {
    .detailLinkWrapper {
        margin-top: 18px;
        padding: 18px 30px;
        border: 1px solid #EFECE7;
        border-radius: 10px;
        background-color: #FDFDFD;
    }

    .detailLinkCover {
        padding-left: 0;
    }
}

@media only all and (min-width: 1024px) {

}