.detailLinkWrapper {
    padding: 16px;
}

.detailLinkCover {
    cursor: pointer;
    /* Flex */
    display: flex;
    gap: 20px;
}

.detailLinkIcon {
    width: 35px;
    aspect-ratio: 1/1;
}

.detailLinkIcon img {
    width: 100%;
}

/*---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) {
    .detailLinkWrapper {
        padding: 0;
    }

    .detailLinkCover {
        padding: 16px;
        padding-left: 0;
    }
}

@media only all and (min-width: 1024px) {

}