.listTitleCover {
    margin: 0 auto;
    padding: 20px 16px 0;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listTitleCover h3 {
    /* Font */
    font-weight: 700;
}

.listTitleCover p {
    font-weight: 600;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .listTitleCover {
        padding: 20px 20px 0;
        display: block;
    }
}

@media only all and (min-width: 1024px) {
    .listTitleCover {
        max-width: 1480px;
        margin: 0 auto;
    }
}

@media only all and (min-width: 1921px) {
    .listTitleCover {
        max-width: 1920px;
        margin: 0 auto;
    }
}