.loaderWrap {
  width: 100vw;
  height: 100vh;
  /* Position */
  position: relative;
}

.loader {
  border: 6px solid #f3f3f3; /* 바탕 원 */
  border-top: 6px solid #3498db; /* 회전 부분 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  /* Position */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}