.bottomWholeCover {
    width: 100%;
    padding: 16px 16px 20px;
    background-color: #f2f2f7;
}

.bottomTextCover {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottomText {
    width: 100%;
}

.bottomText h3 {
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

.bottomText p {
    margin: 5px 0;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}

.bottomBox{
    width: 100%;
    height: 100%;
    /* Flex */
    display: flex;
    justify-content: space-around;
}

.bottomBox span {
    width: calc((100% - 10px) / 2);
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 16px;
}

.bottomLeftBox {
    background-color: #eff6ff;
    color: #625dfc;
}

.bottomLeftBox a,
.bottomRightBox a {
    color: #000;
}

.bottomRightBox {
    background-color: #f0fdf4;
    color: #00a63e;
}

.bottomImgCover {
    border: solid 1px;
}
.bottomImgCover img {
    width: 100%;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .bottomCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .bottomTextCover {
        width: 60%;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .bottomImgCover {
        width: 30%   
    }

    .bottomText h3 {
        /* Font */
        font-size: 2rem;
        font-weight: 600;
    }

    .bottomText p {
        margin: 20px 0;
        /* Font */
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 30px;
    }

    .bottomLeftBox,
    .bottomRightBox {
        /* Font */
        font-size: 1.25rem;
    }

}

@media only all and (min-width: 1024px) {
}