.bottomWrapper {
    width: 100%;
    background-color: #f2f2f7;
}

.bottomCover {
    padding: 16px 16px;
}

.bottomTextCover {
    width: 100%;
    margin-bottom: 10px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bottomText {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bottomBox{
    width: 100%;
    height: 100%;
    /* Flex */
    display: flex;
    justify-content: space-between;
}

.bottomBox span {
    width: calc((100% - 10px) / 2);
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomLeftBox {
    background-color: #eff6ff;
    color: #625dfc;
}

.bottomLeftBox a,
.bottomRightBox a {
    color: #000;
}

.bottomRightBox {
    background-color: #f0fdf4;
    color: #00a63e;
}

.bottomImgCover {
    border: solid 1px;
}
.bottomImgCover img {
    width: 100%;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .bottomCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 16px 20px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottomTextCover {
        width: 60%;
        margin-bottom: 0;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .bottomImgCover {
        width: 30%   
    }

}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .bottomCover {
        max-width: 1920px;
    }
}