.detailGalleryWrap {
    padding: 16px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.recoSwiper {
  /* (237/343)*100 = 69.09620991253644 */
  width: 69.09620991253644% !important;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

  .recoSwiper {
    /* (240/767)*100 = 31.290743155149936 */
    width: 31.290743155149936% !important;
    aspect-ratio: 1 / 1;
  }

  .recoSwiper img {
    width: 100%;
  }

}

@media only all and (min-width: 768px) {
    .detailGalleryWrap {
        padding: 0;
    }

    .detailGalleryCover {
        margin-top: 16px;
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .detailGalleryCover img {
        width: calc((100% - 20px) / 3);
        aspect-ratio: 1/1;
        border-radius: 10px;
    }
}

@media only all and (min-width: 1024px) {
}