.detailGalleryWrap {
    padding: 16px;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .detailGalleryWrap {
        padding: 0;
    }

    .detailGalleryCover {
        margin-top: 16px;
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .detailGalleryCover img {
        width: calc((100% - 20px) / 3);
        aspect-ratio: 1/1;
        border-radius: 10px;
    }
}

@media only all and (min-width: 1024px) {
}