.topRecommendCover {
    width: 100%;
    padding:16px 16px 20px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Position */
    position: relative;
}

.topRecommendCover h1 {
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    font-size: 1.563rem;
    font-weight: 900;   
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.recoSwiper {
  /* (237/343)*100 = 69.09620991253644 */
  width: 69.09620991253644% !important;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.galleryPcCover {
  display: none;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
  .topRecommendCover {
    padding: 20px 0;
  }

  .recoSwiper {
    /* (240/767)*100 = 31.290743155149936 */
    width: 31.290743155149936% !important;
    aspect-ratio: 1 / 1;
  }

  .recoSwiper img {
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  .topRecommendCover {
    max-width: 1020px;
    padding: 16px;
    padding-left: 0;
    margin: 0 auto;
  }

  .recommendSwiper {
    display: none;
  }
}

@media only all and (min-width: 1024px) {
}