.topParkingWholeCover{
    padding: 16px;
}

.topMap {
    width: 100%;
    aspect-ratio: 16/11;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.topMapP {
    margin: 12px 0;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
}

.topMapP img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.topParkingInfo {
    width: 100%;
    margin-bottom: 12px;
    /* Flex */
    display: flex;
    flex-direction: row;
}

.parkT {
    /* Font */
    font-weight: 600;
}

.topParkingInfo img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.navigationCover {
    width: 100%;
    margin-bottom: 15px;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navigationBtnCover {
    width: calc((100% - 10px) / 2);
}

.navigationBtn {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navigationP {
    /* Font */
    font-size: 1rem;
}

.navigationBtn img {
    width: 16px;
}



/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
    .topParkingWholeCover {
        padding-left: 0;
    }

    .topMapCover {
        width: 100%;
        padding-top: 16px;
    }

    .topMap {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .topMapP {
        margin: 20px 0;
    }

    .topParkingInfo {
        width: 100%;
        margin-bottom: 20px;
        /* Flex */
        display: flex;
        flex-direction: row;
    }

    .navigationCover {
        margin-bottom: 0;
    }

    .parkT {
        /* Font */
        font-weight: 700;
    }
}

@media only all and (min-width: 1024px) {

    .topMap {
        width: 100%;
        height: 400px;
    }

    .topMapP {
        /* Font */
        font-size: 1.25rem;
    }

    .topMapP img {
        width: 20px;
        height: 20px;
    }

    .parkT {
        /* Font */
        font-size: 1.25rem;
    }
    
    .topParkingInfo img {
        width: 20px;
        height: 20px;
    }
}