.themeDetailLinkWholeCover {
    padding: 16px;
}

.themeDetailLinkWholeCover img {
    width: 40px;
}

.themeDetailLinkH1 {
    margin-bottom: 15px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

.themeDetailLinkCover {
    margin: 16px 0;
    /* Flex */
    display: flex;
    gap: 20px;
}

.themeDetailLinkSpan {
    cursor: pointer;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 767px) {
    .themeDetailLinkWholeCover{
        padding: 0;
    }

    .themeDetailLinkH1 {
        padding: 60px 20px 20px;
        padding-left: 0;
        margin-bottom: 0;
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;
    }
}

@media only all and (min-width: 1024px) {
}