.mainImageCover {
    width: 100%;
    display: block;
    overflow: hidden;
    /* Position */
    position: relative;
}

.mainImageCover img {
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.locationName {
    width: 95%;
    margin: 24px auto 0;
    padding-bottom: 4px;
    /* Font */
    color: #111628;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.25;
}

.locationSlogan {
    width: 95%;
    margin: 0 auto 12px;
    /* Font */
    color: #757575;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}

.review {
    width: 50px;
    height: 50px;
    background-color: #4285f4;
    border-radius: 15px;
    cursor: pointer;
    /* Font */
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Position */
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 99;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .mainImageCover {
        width: 100%;
        height: 500px;
        display: block;
        overflow: hidden;
    }
    .mainImageCover img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center bottom;
    }
    
    .detailSpan {
        height: 40%;
    }
}

@media only all and (min-width: 1024px) {
    .review {
        width: 250px;
        /* Font */
        font-size: 1.2rem;
        font-weight: 700;
    }
}