.mainImageCover {
    width: 100%;
    aspect-ratio: 16/11;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 16px;
    /* Flex */
    display: flex;
    align-items: end;
    /* Position */
    position: relative;
}

.mainImageCover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), 40%, rgba(255, 255, 255, 0.2));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.mainImageTextCover {
    /* Font */
    color: #fff;
    /* Flex */
    display: flex;
    align-items: end;
    /* Position */
    z-index: 99;
}

.locationName {
    margin-bottom: 10px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.locationAddress {
    margin-bottom: 10px;
}

.locationAddress img {
    width: 16px;
}

.locationSlogan {
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .mainImageCover {
        aspect-ratio: 16/9;
        padding: 20px;
    }

    .locationName {
        /* Font */
        font-size: 1.5rem;
    }
    
    .locationSlogan {
        /* font */
        font-size: 1.25rem;
    }
}

@media only all and (min-width: 768px) {
}

@media only all and (min-width: 1024px) {
    .mainImageCover {
        aspect-ratio: 16/5;
    }

    .mainImageTextCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .locationAddress {
        margin-bottom: 20px;
    }

    .locationName {
        margin-bottom: 20px;
        /* Font */
        font-size: 2rem;
    }
}