.mainImageCover {
    width: 100%;
    display: block;
    overflow: hidden;
    /* Position */
    position: relative;
}

.mainImageCover img {
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.locationName {
    width: 100%;
    padding: 16px 16px 0;
    /* Font */
    color: #111628;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.25;
}

.locationAddress {
    padding: 12px 16px 0;
    /* Font */
    color: #757575;
}
.locationAddress img {
    width: 16px;
}

.locationSlogan {
    width: 100%;
    padding: 12px 16px 16px;
    /* Font */
    color: #515151;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}

.mainImageTextCover {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewCover {
    padding-right: 16px;
}

.review {
    width: 50px;
    height: 50px;
    background-color: #4285f4;
    border-radius: 15px;
    cursor: pointer;
    /* Font */
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .mainImageCover {
        width: 100%;
        height: auto;
    }
    
    .mainImageCover .mainImage {
        width: 100%;
        height: 56.1930vw;
        object-fit: cover;
        object-position: center center;
    }

    .locationName {
        padding: 16px 20px 0;
    }
    
    .locationSlogan {
        padding: 6px 20px 16px;
    }

    .reviewCover {
        padding-right: 20px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
    .mainImageCover {
        width: 100%;
        height: auto;
    }
    
    .mainImageCover .mainImage {
        width: 100%;
        height: 56.2072vw;
        object-fit: cover;
        object-position: center center;
    }

    .locationName {
        padding: 16px 20px 0;
    }
    
    .locationSlogan {
        padding: 6px 20px 16px;
    }

    .reviewCover {
        padding-right: 20px;
    }
}

@media only all and (min-width: 1024px) {
    .mainImageCover {
        width: 100%;
        height: auto;
        background-color: #F9FAFB;
    }
    
    .mainImageCover .mainImage {
        width: 100%;
        height: 28.6458vw;
        object-fit: cover;
        object-position: center center;
    }
    
    .mainImageTextCover {
        max-width: 1440px;
        margin: 0 auto;
    }

    .locationName {
        padding: 20px 16px 0;
    }
    
    .locationSlogan {
        padding: 12px 16px 20px;
        /* Font */
        font-size: 20px;
    }
    
    .review {
        display: none;
    }
}