
    .locationInfoCover {
        padding: 16px;
        white-space: pre-wrap
    }

    .locationInfoTitle{
        /* Font */
        font-size: 1.25rem;
        font-weight: 800;
    }

    .operatingHourTitle, 
    .closeDayTitle, 
    .entranceFeeTitle,
    .entranceFeeWeb {
        margin-top: 15px;
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;

    }

    .operatingHourTitle img, 
    .closeDayTitle img, 
    .entranceFeeTitle img,
    .entranceFeeWeb img {
        width: 24px;
        margin-right: 10px;
    }

    .operatingHour, 
    .closeDay,
    .entranceFee,
    .webLink {
        margin: 10px 34px 0;
        /* Font */
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
    }

    .webLink{
        /* Font */
        color: #4285F4;
        /* Flex */
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .webLink img {
        width: 16px;
    }

    .reviewPC,
    .reviewPCYet {
        width: 100%;
        display: block;
        padding: 20px;
        text-align: center;
        margin-top: 40px;
        border-radius: 10px;
        background-color: #4285F4;
        /* Font */
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .reviewPCYet {
        background-color: #525252;
    }

    .warningInfo {
        margin-top: 20px;
        /* Font */
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
    }

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) and (max-width: 1023px) {

}

@media only all and (min-width: 1024px) {
    .locationInfoCover {
        padding: 0;
        margin-top: 60px;
        /* Position */
        position: fixed;
        right: 0;
        z-index: 100;
    }

    .locationInfoTitle {
        display: block;
        margin-left: 2px;
        margin-bottom: 12px;
        /* Font */
        font-size: 1.5rem;
    }

    .locationInfoTextCover {
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }

    .operatingHourTitle, 
    .closeDayTitle, 
    .entranceFeeTitle,
    .entranceFeeWeb {
        margin-top: 35px;
        /* Font */
        font-weight: 900;
    }

    .operatingHourTitle {
        margin: 0;
    }

    .reviewPC,
    .reviewPCYet {
        margin-top: 12px;
    }

    .warningInfo {
        margin-top: 35px;
    }

}