.locationInfoWholeCover {
    white-space: pre-wrap
}

.locationInfoCover {
    padding: 16px;
}

.locationInfoTitle{
    margin-bottom: 20px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

.operatingHour, 
.closeDay,
.entranceFee,
.webLink {
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
}

.locationInfoLinkCover {
    /* Flex */
    display: flex;
    gap: 20px;
}

.locationInfoSpan {
    width: 40px;
    aspect-ratio: 1/1;
}

.locationInfoSpan img {
    width: 100%;
}

.reviewCover {
    padding: 16px;
}

.reviewPC,
.reviewPCYet {
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #4285F4;
    /* Font */
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.reviewPCYet {
    background-color: #525252;
}

.warningInfo {
    margin-top: 16px;
    /* Font */
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}

/*---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) {
    .locationInfoCover {
        padding: 0;
        margin-top: 16px;
        white-space: pre-wrap;
        /* Position */
        position: fixed;
        right: 0;
        z-index: 100;
    }

    .locationInfoTitle {
        display: block;
        margin-left: 2px;
        margin-bottom: 12px;
        /* Font */
        font-size: 1.5rem;
    }

    .locationInfoTextCover {
        padding: 16px;
        padding-left: 0;
        background-color: #fff;
        border-radius: 10px;
    }

    .operatingHourTitle, 
    .closeDayTitle, 
    .entranceFeeTitle,
    .entranceFeeWeb {
        /* Flex */
        display: flex;
        align-items: center;
    }

    .locInfoTitle {
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;
    }

    .operatingHourTitle img, 
    .closeDayTitle img, 
    .entranceFeeTitle img,
    .entranceFeeWeb img {
        width: 20px;
        height: 20px;
        margin-right: 10px;  
    }

    .locInfoText {
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 30px;
        /* Font */
        font-size: 1rem;
        font-weight: 500;
        line-height: 30px;
    }

    .locationInfoLinkCover {
        margin-top: 20px;
    }

    .reviewPC,
    .reviewPCYet {
        margin-top: 20px;
    }

    .warningInfo {
        margin-top: 35px;
    }

}

@media only all and (min-width: 1024px) {

}