.locationDetailWholeCover {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: row;
    /* (48/1200)*100 = 4 */
    gap: 4%;
}

.locationDetailLeftWholeCover {
    /* (784/1200)*100 = 65.33333333333333 */
    width: 65.33333333333333%;
    /* width: calc((100% - 20px) * 0.6); */
}

.locationDetailRightWholeCover {
    /* (368/1200)*100 = 30.666666666666664 */
    width: 30.66666666666666%;
    /* width: calc((100% - 20px) * 0.4); */

}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) and (max-width: 1023px) {

}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .locationDetailWholeCover {
        max-width: 1440px;
    }
}