.locationDetailWholeCover {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.locationDetailLeftWholeCover {
    width: calc((100% - 20px) * 0.6);
}

.locationDetailRightWholeCover {
    width: calc((100% - 20px) * 0.4);

}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) and (max-width: 1023px) {

}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .locationDetailWholeCover {
        max-width: 1960px;
    }
}