  /* Mobile First 모바일 퍼스트 */
  .homeBannerBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    /* Position */
    position: relative;
}

  .homeBannerWrapper {
    white-space: pre-wrap;
    width: 100%;
    aspect-ratio: 16/14;
    margin: 0 auto;
    /* Position */
    position: relative;
    z-index: 99;
  }

  .homeBannerBackground::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), 60%, rgba(255, 255, 255, 0.1));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .homeBannerTextCover {
    width: calc(100% - 32px);
    height: calc(100% - 30px);
    margin: 0 auto;
    /* Font */
    color: #fff;
    text-align: center;
    /* Position */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .homeBannerLocation {
    padding: 15px 0;
    /* Font */
    font-weight: 600;
  }
  .homeBannerTextLine {
    border: 1px solid #fff;
    margin: 0 0 20px 0;
  }

  .homeBannerName {
    margin-bottom: 20px;
    /* Font */
    color: #fff;
  }

  .homeBannerDetail {
    /* Font */
    font-weight: 500;
  }

  .homeBannerLearnMore {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    /* Font */
    color: #fff;
    font-weight: 600;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: 14%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .mainBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    opacity: 1;
    transition: opacity 0.6s ease;
  }

  /* 썸네일 – 항상 최상단 */
  .homeBannerThumbCover {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    bottom: -10%;
    z-index: 97;
  }

  .homeBannerThumbItem {
    width: calc((100% - 15px) / 4);
    aspect-ratio: 16/12;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }

  .homeBannerThumbItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  /* 이동 + 확대 + 페이드아웃 */
  .thumbFly {
    border-radius: 0;
    transition:
    transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
    opacity 0.3s ease,
    width 0.1s ease,
    height 0.9s ease,
    top 0.9s ease,
    left 0.1s ease;
    /* Position */
    z-index: 100;
  }

@media only all and (min-width: 480px) {
  .homeBannerWrapper {
    aspect-ratio: 16/11;
  }

  .homeBannerTextCover {
    width: calc(100% - 40px);
  }

  /* 썸네일 – 항상 최상단 */
  .homeBannerThumbCover {
    /* Position */
    bottom: -13%;
  }

  .homeBannerThumbItem {
    aspect-ratio: 16/10;
  }
}

@media only all and (min-width: 550px) and (max-width: 767px) {
  .homeBannerWrapper {
    aspect-ratio: 16/10;
  }

  .homeBannerName {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .homeBannerLearnMore {
    /* Position */
    bottom: 13%;
  }

  /* 썸네일 – 항상 최상단 */
  .homeBannerThumbCover {
    width: 100%;
    max-width: 550px;
    padding: 16px;
    margin-left: calc(-550px / 2);
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: -13%;
    z-index: 9999;
  }
}

@media only all and (min-width: 768px) {
  .homeBannerWrapper {
    height: 450px;
    max-width: 1440px;
  }

  .homeBannerLearnMore {
    /* Position */
    bottom: 28%;
  }

  .homeBannerTextCover {
    width: calc(100% - 50px);
    max-width: 1440px;
    /* Positiong */
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .homeBannerName {
    margin-bottom: 40px;
  }

  .homeBannerDetail {
    margin-bottom: 10px;
  }
  .bannerTextP2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;

  }  

  /* 썸네일 – 항상 최상단 */
  .homeBannerThumbCover {
    width: calc(100% - 150px);
    margin-left: 0;
    padding: 0;
    /* Flex */
    justify-content: end;
    gap: 12px;
    /* Position */
    bottom: 20px;
    right: 25px;
  }

  .homeBannerThumbItem {
    width: 100px;
    aspect-ratio: 16/10;
  }
}

@media only all and (min-width: 1280px) {
  .homeBannerWrapper {
    aspect-ratio: 16/6;
    height: auto;
  }

  .homeBannerName {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .homeBannerLearnMore {
    /* Position */
    bottom: 30%;
  }
  
}

@media only all and (min-width: 1921px) {
  .homeBannerWrapper {
    max-width: 1920px;
  }
  .homeBannerTextCover {
    max-width: 1920px;
  }
}
