.themeDetailBannerCover {
    width: 100%;
    aspect-ratio: 16/11;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 16px;
    /* Flex */
    display: flex;
    align-items: end;
    /* Position */
    position: relative;
}

.themeDetailBannerCover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), 40%, rgba(255, 255, 255, 0.2));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.themeDetailBannerTextCover {
    /* Font */
    color: #fff;
    /* Position */
    z-index: 99;
}

.themeDetailBannerH2 {
    margin-bottom: 10px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.themeDetailBannerP {
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.themeDetailBannerPr {
    margin-bottom: 10px;
}

.themeDetailBannerPr img {
    width: 16px;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .themeDetailBannerCover {
        aspect-ratio: 16/9;
        padding: 20px;
    }

    .themeDetailBannerH2 {
        /* Font */
        font-size: 1.5rem;
    }

    .themeDetailBannerP {
        /* Font */
        font-size: 1.25rem;
    }
}

@media only all and (min-width: 1024px) {
    .themeDetailBannerCover {
        aspect-ratio: 16/5;
    }

    .themeDetailBannerTextCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .themeDetailBannerH2 {
        margin-bottom: 20px;
        /* Font */
        font-size: 2rem;
    }

    .themeDetailBannerPr {
        margin-bottom: 20px;
    }

    .themeDetailBannerP {
        /* Font */
        font-size: 1.25rem;
    }
}