
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
}

@media only all and (min-width: 1024px) {
    .homeTheme{
        background-color: #f2f2f7;
    }

    .homeThemeWholeCover {
        max-width: 1440px;
        padding: 130px 16px 130px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .homeThemeH2 {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .homeThemeCover {
        aspect-ratio: 16/2;
        border-radius: 15px;
        padding: 20px;
        margin-top: 20px;
        overflow: hidden;
        cursor: pointer;
        /* Background */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 60%;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Position */
        position: relative;
    }

    .homeThemeCover::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        /* Position */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .homeThemeP {
        /* Font */
        color: #fff;
        font-size: 1.75rem;
        font-weight: 600;
        /* Position */
        position: relative;
        z-index: 11;
    }

    .homeThemePSnd {
        /* Flex */
        display: flex;
        align-items: center;
        gap: 10px;    
    }
}