
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .listBannerCover {
        width: 100%;
        margin: 0 auto;
    }
    
    .listBannerCover img {
        width: 100% !important;
        display: block;
    }
}

@media only all and (min-width: 1024px) {
    .listBannerCover {
        max-width: 1440px;
    }
}