  .bannerWrapper {
    white-space: pre-wrap;
    width: 100%;
    aspect-ratio: 16/14;
    margin: 0 auto;
    /* Position */
    position: relative;
  }

    /* 메인 배너 */
  .mainBannerArea {
    width: 100vw;
    aspect-ratio: 16/14;
    overflow: hidden;
    /* Position */
    position: relative;
    z-index: 1;
  }

  .mainBannerArea::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.6), 50%, rgba(255, 255, 255, 0.1));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .bannerTextWrapper {
    width: calc(100% - 32px);
    margin: 0 auto;
    /* Font */
    color: #fff;
    /* Position */
    position: absolute;
    left: 16px;
    top: 25%;
    z-index: 10;
  }

  .bannerTextH2 {
    margin-bottom: 12px;
    /* Font */
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  .bannerTextH3 {
    margin-bottom: 28px;
    /* Font */
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    letter-spacing: 0.02em;
  } 

  .bannerTextP1 {
    margin-bottom: 10px;
    /* Font */
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .mainBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .fadeInMain {
    opacity: 1;
  }

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    bottom: -10%;
    z-index: 9999;
  }

  .thumbItem {
    width: calc((100% - 15px) / 4);
    aspect-ratio: 16/12;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }

  .thumbItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  /* 이동 + 확대 + 페이드아웃 */
  .thumbFly {
    border-radius: 0;
    transition:
    transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
    opacity 0.3s ease,
    width 0.1s ease,
    height 0.9s ease,
    top 0.9s ease,
    left 0.1s ease;
    /* Position */
    z-index: 100;
  }

@media only all and (min-width: 480px) {
  .bannerWrapper {
    aspect-ratio: 16/9;
  }

    /* 메인 배너 */
  .mainBannerArea {
    aspect-ratio: 16/9;
  }

  .bannerTextWrapper {
    width: calc(100% - 40px);
    /* Position */
    left: 20px;
  }
  
  .bannerTextP2 {
    /* Font */
    color: #F5F5F5;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    /* Position */
    bottom: -13%;
  }

  .thumbItem {
    aspect-ratio: 16/10;
  }
}

@media only all and (min-width: 550px) and (max-width: 767px) {
  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: 100%;
    max-width: 550px;
    padding: 16px;
    margin-left: calc(-550px / 2);
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: -13%;
    z-index: 9999;
  }
}

@media only all and (max-width: 579px) {
  .bannerTextP2 {
    display: none;
  }
}

@media only all and (min-width: 580px) {
  .bannerTextP2 {
    display: inline-block;
  }
}

@media only all and (min-width: 768px) {
  .bannerWrapper {
    height: 450px;
    max-width: 1440px;
  }

  /* 메인 배너 */
  .mainBannerArea {
    height: 450px;
    /* Position */
    left: 50%;
    right: 50%;
    margin-left: -50vw;   /* 화면 왼쪽까지 확장 */
    margin-right: -50vw;  /* 화면 오른쪽까지 확장 */
  }

  .bannerTextWrapper {
    width: calc(100% - 50px);
    max-width: 1440px;
    /* Positiong */
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 10;
  }

  .bannerTextH2 {
    margin-bottom: 40px;
    /* Font */
    font-size: 48px;
    line-height: 50px;
  }

  .bannerTextH3 {
    margin-bottom: 30px;
    /* Font */
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
  } 

  .bannerTextP1 {
    margin-bottom: 10px;
    /* Font */
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .bannerTextP2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;

  }  

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: calc(100% - 150px);
    margin-left: 0;
    padding: 0;
    /* Flex */
    justify-content: end;
    gap: 12px;
    /* Position */
    bottom: 20px;
    right: 25px;
  }

  .thumbItem {
    width: 100px;
    aspect-ratio: 16/10;
  }
}