/* Main */
.swiper {
    width: 100%;
    /* Position */
    position: relative;
}

.mainBannerSlide {
  width: 100vw !important;
  height: 100%;
  text-align: center;
  border: 1px solid #f1ede9;
  background-color: #f6f4f1;
}

.mainBannerSlide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

div[class*="swiperText0"] {
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
  background: linear-gradient(to top, rgba(200, 200, 200, 0.7), 45%, rgba(255, 255, 255, 0.1));
  white-space: pre-wrap;
  text-align: center;
  /* Font */
  letter-spacing: 0.02em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* Position */
  position: absolute;
  bottom: 0;
  left: 0;
}

div[class*="swiperText0"] strong {
  margin-bottom: 8px;
  /* Font */
  font-size: 1.125rem;
  font-weight: 700;
  color: #2B291A;
}

div[class*="swiperText0"] span {
  border-bottom: none !important;
  /* Font */
  font-size: 0.625rem;
  font-weight: 500;
}


div[class*="swiperText0"] p {
  /* Font */
  font-size: 0.75rem;
  color: #5b231d;
  font-weight: 600;
  line-height: 16px;
}

.playBarPcCover {
  width: 100%;
  margin-top: 1px;
}

.playBarPc {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressSpotCover {
  width: 100%;
}

.paging {
  width: 100%;
  height: 3px !important;
  background-color: transparent;
  /* Position */
  position: relative;
  z-index: 99;
}

.swiper-pagination-progressbar-fill {
  width: 100% !important;
  height: 3px !important;
  background: linear-gradient(to left, #8E3F34, #E6E7E1 ) !important;
  border: 0 !important;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

/* Table (테블릿) */
@media only all and (min-width: 480px) {
  .mainBannerSlide {
    width: 62vw !important;
  }
}

/* PC */
@media only all and (min-width: 1024px) {  
  .mainBannerSlide,
  .mainBannerSlide img {
    aspect-ratio: 16/6;    
  }

  div[class*="swiperText0"] strong {
    margin-bottom: 15px;
    /* Font */
    font-size: 2rem;
  }

  div[class*="swiperText0"] span {
    border-bottom: none !important;
    /* Font */
    font-size: 1.2rem;
  }

  div[class*="swiperText0"] p {
    /* Font */
    font-size: 1.375rem;
    color: #5b231d;
    line-height: 26px;
  }
}