/* Main */
.swiper {
    width: 100%;
    /* Position */
    position: relative;
}

.swiper-slide {
  width: 100vw !important;
  height: 100%;
  text-align: center;
  border: 1px solid #f1ede9;
  background-color: #f6f4f1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

div[class*="swiper-text0"] {
  width: 100%;
  height: 75px;
  padding: 7px;
  background-color: rgba(186, 186, 186, 0.6);
  margin: auto;
  white-space: pre-wrap;
  text-align: center;
  /* Font */
  letter-spacing: 0.02em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Position */
  position: absolute;
  bottom: 0;
  z-index: 98;
}

div[class*="swiper-text0"] strong {
  /* Font */
  font-size: 1rem;
  font-weight: 700;
  color: #2B291A;
  line-height: 0.9;
}

div[class*="swiper-text0"] span {
  border-bottom: none !important;
  /* Font */
  font-size: 0.625rem;
  font-weight: 500;
}


div[class*="swiper-text0"] p {
  /* Font */
  font-size: 0.75rem;
  color: #533D2E;
  font-weight: 500;
  line-height: 1.1;
}

.play_bar_pc_cover {
  width: 100%;
  margin-top: 1px;
}

.play_bar_pc {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress_spot_cover {
  width: 100%;
}

.paging2 {
  width: 100%;
  height: 3px !important;
  background-color: transparent;
  /* Position */
  position: relative;
}

.swiper-pagination-progressbar-fill {
  width: 100% !important;
  height: 3px !important;
  background: linear-gradient(to left, #8E3F34, #E6E7E1 ) !important;
  border: 0 !important;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
/* Mobile이지만
    해당 웹페이지는 Mobile First임 */
@media only all and (max-width: 479px) {
}

/* Table (테블릿) */
@media only all and (min-width: 480px) {
  /* and (max-width: 1023px) */
  .swiper-slide {
    width: 62vw !important;
  }
}

/* PC */
@media only all and (min-width: 1024px) {  
  .swiper-slide {
    max-width: 2560px;
  }
  
  div[class*="swiper-text0"] {
    height: 150px;
    justify-content: center;
  }

div[class*="swiper-text0"] strong {
  margin-bottom: 15px;
  /* Font */
  font-size: 2rem;
  font-weight: 700;
  color: #2B291A;
  line-height: 0.9;
}

div[class*="swiper-text0"] span {
  border-bottom: none !important;
  /* Font */
  font-size: 1.2rem;
  font-weight: 500;
}


div[class*="swiper-text0"] p {
  /* Font */
  font-size: 1.4rem;
  color: #533D2E;
  font-weight: 500;
  line-height: 1.1;
}
}