/* Main */
.swiper {
    width: 100%;
    /* Position */
    position: relative;
}

.swiper-slide {
  width: 100vw !important;
  height: 100%;
  text-align: center;
  border: 1px solid #f1ede9;
  background-color: #f6f4f1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

div[class*="swiper-text0"] {
  width: 100%;
  height: 75px;
  padding: 7px;
  background-color: rgba(207, 204, 174, 0.7);
  margin: auto;
  white-space: pre-wrap;
  text-align: center;
  /* Font */
  letter-spacing: -1.5px;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Position */
  position: absolute;
  bottom: 0;
  z-index: 98;
}

div[class*="swiper-text0"] strong {
  /* Font */
  font-size: 1.2rem;
  font-weight: bold;
  color: #2B291A;
  letter-spacing: -1.5px !important;
}

div[class*="swiper-text0"] span {
  border-bottom: none !important;
  /* Font */
  font-size: 1rem;
  font-weight: 400;
}


div[class*="swiper-text0"] p {
  /* Font */
  font-size: 0.7rem;
  color: #6F6056;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1.5px !important;
}

.play_bar_pc_cover {
  width: 100%;
  margin-top: 1px;
}

.play_bar_pc {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress_spot_cover {
  width: 100%;
}

.paging2 {
  width: 100%;
  height: 3px !important;
  background-color: transparent;
  /* Position */
  position: relative;
}

.swiper-pagination-progressbar-fill {
  width: 100% !important;
  height: 3px !important;
  background: linear-gradient(to left, #8E3F34, #E6E7E1 ) !important;
  border: 0 !important;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
/* Mobile이지만
    해당 웹페이지는 Mobile First임 */
@media only all and (max-width: 479px) {
}

/* Table (테블릿) */
@media only all and (min-width: 480px) {
  /* and (max-width: 1023px) */
  .swiper-slide {
    width: 62vw !important;
  }

  div[class*="swiper-text0"] {
    height: 12.887vw;
    padding-top: 1.546vw;
  }
  
  div[class*="swiper-text0"] strong {
    /* Font */
    font-size: 2vw;
  }
  
  div[class*="swiper-text0"] span {
    /* Font */
    font-size: 2vw;
  }
  
  div[class*="swiper-text0"] p {
    /* Font */
    font-size: 1.8vw;
  }
}

/* PC */
@media only all and (min-width: 1024px) {  
  .swiper-slide {
    max-width: 2560px;
  }
}

/* -------------------------------------------------------- */
/* 임시 css 보관 */

/* .next_prev_spot_cover {
  width: 5.8vw !important;
  height: 2.062vw;
  Flex
  display: flex;
  justify-content: space-between;
  align-items: center;
  Position
  position: absolute;
  top: 50px;
} */

/* .swiper-button-prev,
.swiper-button-next {
  width: 2.062vw !important;
  height: 0.155vw !important;
  display: block;
  background-image: url("../images/flagship/icon/next.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0 !important;
  Position
  position: static;
} */

/* .swiper-button-prev {
  transform: rotate(180deg);
} */

/* .swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
} */