.seasons {
    width: 100%;
    height: auto;
    padding: 20px 16px;
}
.seasons h3 {
    width: 100%;
    text-align: center;
    /* Font */
    font-size: 1.5rem;
    font-weight: bold;
}

.seasons .cards {
    /* Flex */
    display: flex;
    justify-content: space-between;
}

.seasons .card {
    /* (162/343)*100 = 47.23032069970846 */
    width: 47.23032069970846%;
    height: 100px;
    background: rgb(242 242 247);
    padding: 18px 16px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Position */
    position: relative;
}

.catImgCover{
    width: 50px;
    height: 50px;
    background-color: rgb(74 144 226 / 0.1);
    border-radius: 50%;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.seasons .card img {
    width: 70%;
}

.seasons .card p {
  width: 100%;
  text-align: center;
  /* Font */
  color: rgb(51 51 51);
  font-size: 1rem;
  font-weight: bold;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .seasons {
        padding: 20px;
    }

    .seasons .cards {
        /* Flex */
        justify-content: center;
    }

    .seasons .card {
        /* (249/767)*100 = 32.46414602346806 */
        /* (249/727)*100 = 34.25034387895461 */
        width: 34.25034387895461%;
        margin: 0 10px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {

    .seasons .cards {
        /* Flex */
        justify-content: center;
    }

    .seasons .card {
        /* (357/991)*100 = 36.02421796165489 */
        width: 36.02421796165489%;
        /* width: 357px; */
        margin: 0 10px;
    }
}

@media only all and (min-width: 1024px) and (max-width: 1439px) {
}

@media only all and (min-width: 1024px) {
	/*Max Width: 1440px*/

    .seasons .cards {
        /* Flex */
        justify-content: center;
    }

    .seasons .card {
        /* (323/1408)*100 = 22.94034090909091 */
        width: 22.94034090909091%;
        /* width: 357px; */
        margin: 0 10px;
    }
}