.regionListWholeCover {
    padding: 20px 16px;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .regionListWholeCover {
        padding: 20px 20px;
    }

    .regionListWholeCover {
    /* Flex */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    }
}

@media only all and (min-width: 1024px) {
    .regionListWholeCover {
        max-width: 1480px;
        margin: 0 auto;
    }
}