.collectionBannerWrapper {
    width: 100%;
    aspect-ratio: 16/5;
    max-height: 300px;
    /* Background */
    background-image: url('/images/collection/collectionBanner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Position R */
    position: relative;
}

.collectionBannerWrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    /* Position */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.collectionBannerTextCover {    
    width: 100%;
    height: 100%;
    /* Font */
    color: #fff;
    text-align: center;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* Position */
    position: relative;
    z-index: 99;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {

.collectionBannerTextCover {    
    /* Flex */
    gap: 15px;
}
}

@media only all and (min-width: 1024px) {

.collectionBannerTextCover {    
    /* Flex */
    gap: 20px;
}
}

@media only all and (min-width: 1921px) {
}