.seasons {
    width: 100%;
    height: auto;
    padding: 50px 16px 20px;
}
.seasons h3 {
    width: 100%;
    text-align: center;
    /* Font */
    font-size: 1.5rem;
    font-weight: bold;
}

.seasons .cards {
    /* Flex */
    display: flex;
    gap: 15px;
}

.seasons .card {
    width: calc((100% - 15px) / 3);
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* Position */
    position: relative;
}

.catImgCover{
    width: 50px;
    height: 50px;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.seasons .card img {
    width: 60%;
}

.seasons .card p {
    width: 100%;
    text-align: center;
    /* Font */
    color: rgb(51 51 51);
    font-size: 1rem;
    font-weight: bold;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .seasons {
        max-width: 550px;
        margin: 0 auto;
        padding: 60px 16px 30px;
    }

    .seasons .cards {
        /* Flex */
        gap: 50px;
    }

    .seasons .card {
    width: calc((100% - 50px) / 3);
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
}

@media only all and (min-width: 1024px) and (max-width: 1439px) {
}

@media only all and (min-width: 1024px) {
}