.themeCategoryCover {
    width: 100%;
    height: 51px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; 
    position: relative; /* 기본은 flow에 따라 위치 */
    transition: top 0.3s;
}

.themeCategoryCover.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.themeCategoryUl {
    height: inherit;
    padding: 0;
    margin: 0;
}

.themeCategoryLi {
    height: inherit;
    display: inline-block;
    background: #fff;
    padding: 0 9%;
    cursor: pointer;
    text-align: center;
    /* Font */
    font-size: 1rem;
    font-weight: 700;
    color: #6c757d;
    line-height: 45px;
}


.themeCategoryLi.active::after {
  content: '';
  display: block;
  height: 3px; /* 밑줄 두께 */
  background-color: #4285f4;
}
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {

}

@media only all and (min-width: 1024px) {

    .themeCategoryCover.fixed {
        position: static;
    }

    .themeCategoryCover {
        overflow-x: visible;
    }

    .themeCategoryUl {
        width: 100%;
        /* Flex */
        display: flex;
        gap: 20px;
    }

    .themeCategoryLi {
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .themeCategoryLi:last-of-type {
        margin-right: 0;
    }

    .themeCategoryLi.active::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px; /* 밑줄 두께 */
      background-color: #4285f4;
    }
}