.collectoinGoodsLinkWrapper {
    background-color: #F7F6F4;
    /* Remove baby pink bg */
    padding: 24px 0;
}

.collectionGoodsLinkCover {
    width: 100%;
    padding: 16px 10px;
    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collectionGoodsLinkInfoShop {
    margin-bottom: 25px;
    /* Font */
    font-size: 12px;
    color: #1a1a1a;
    text-align: center;
}

.collectionGoodsLinkBtnCover {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.collectionGoodsLink {
    width: 100%;
    min-width: 150px;
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafaf8;
    /* Font */
    color: #1a1a1a;
    text-align: center;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.collectionGoodsLinkHeaderCover {
    margin-bottom: 15px;
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.collectionGoodsLinkHeaderImg {
    width: 48px;
    height: 48px;
    border-radius: 999px;
    overflow: hidden;
    object-position: center;
}

.collectionGoodsLinkHeaderImg img{
    width: 100%;
}

.collectionGoodsLinkHeaderTextCover {
    /* Font */
    text-align: left;
}

.collectionGoodsLinkHeaderTextFst {
    /* Font */
    font-size: 14px;
    font-weight: 700;
}

.collectionGoodsLinkHeaderTextSnd{
    /* Font */
    font-size: 12px;
}

.collectionGoodsLinkBodyCover {
    margin-bottom: 20px;
    /* Font */
    font-size: 12px;
    text-align: left;
}

.collectionGoodsLinkGoToCover {
    cursor: pointer;
    /* Font */
    font-size: 12px;
    font-weight: 600;
    color: #b54a2f;
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.collectionGoodsLinkGoToCover svg {
    width: 14px;
    height: 14px;
}

.collectionGoodsLinkGoToCover:hover {
    /* Font */
    color: #9d3f27;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {}

@media only all and (min-width: 480px) {}

@media only all and (min-width: 768px) {
    .collectionGoodsLinkCover {
        max-width: 1200px;
        margin: 0 auto;
    }

    .collectionGoodsLinkInfoShop {
        /* Font */
        font-size: 14px;
    }

    .collectionGoodsLink {
        width: calc((100% - 20px) / 3);
    }

}

@media only all and (min-width: 1024px) {}

@media only all and (min-width: 1921px) {
    .collectionGoodsLinkCover {
        max-width: 1440px;
    }
}