.detailBannerWrapper {
    width: 100%;
    aspect-ratio: 16/11;
    max-height: 400px;
    display: block;
    overflow: hidden;
    padding: 16px;
    /* Background */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Flex */
    display: flex;
    align-items: end;
    /* Position */
    position: relative;
}

.detailBannerWrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 45%, rgba(255, 255, 255, 0.2));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.detailBannerTextCover {
    width: 100%;
    /* Font */
    color: #fff;
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    /* Position */
    z-index: 99;
}

.detailBannerTextName {
    /* Font */
    font-weight: 600;
}

.detailBannerTextAddress {
    /* Flex */
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 5px;
}

.detailBannerTextAddress img {
    width: 14px;
}

.detailBannerTextSlogan {
    /* Font */
    font-weight: 500;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .detailBannerWrapper {
        padding: 20px;
    }
}

@media only all and (min-width: 768px) {
}

@media only all and (min-width: 1024px) {
    .detailBannerTextCover {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media only all and (min-width: 1921px) {
    .detailBannerTextCover {
        max-width: 1920px;
    }
}