header {
  width: 100%;
}

.headerCover {
  width: 100%;
  height: 72px;
  padding: 16px;
  margin: 0 auto;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 121px;
  cursor: pointer;
  /* Flex */
  display: flex;  
}

header .logo img {
  height: 40px;
  margin-right: 5px;
}

.headerList {
  /* Flex */
  display: flex;
}

.search {
  cursor: pointer;
  /* Flex */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.search img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.search button {
  border: none;
  background: transparent;
  /* Font */
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  cursor: pointer;
}

.search button.active {
  font-weight: 700;
  color: #111111;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
  header {
    background-color: #fff;
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .headerCover {
    max-width: 1023px;
  }

  .gnbPc {
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gnbPc ul {
    height: 100%;
    /* Flex */
    display: flex;
    align-items: center;
  }

  .gnbPc ul .gnbPcLi {
    cursor: pointer;
    margin: 0 10px;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    color: #555;
  }

  .gnbPc ul .gnbPcLi.active {
    /* Font */
    color: #000;
    font-weight: 700;
  }
}

@media only all and (min-width: 1024px) {
  .headerCover {
    max-width: 1440px;
  }
}

@media only all and (min-width: 1921px) {
  .headerCover {
    max-width: 1920px;
  }
}

