
  header {
    width: 100%;
    background: transparent;
    transition: background-color .3s ease;
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  header.scrolled {
    background: #fff;
  }

.headerCover {
  width: 100%;
  height: 72px;
  padding: 16px;
  margin: 0 auto;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 121px;
  cursor: pointer;
  /* Flex */
  display: flex;  
}

header .logo img {
  height: 40px;
  margin-right: 5px;
}

.headerList {
  /* Flex */
  display: flex;
}

.search {
  cursor: pointer;
  /* Flex */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.search img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.search .btn {
  border: none;
  background: transparent;
  /* Font */
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #fafaf8;
  cursor: pointer;
}

.search .btnSc {
  border: none;
  background: transparent;
  /* Font */
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
}

.search button.active {
  background: #fafaf8;
  padding: 5px 15px;
  border-radius: 50px;
  color: #1a1a1a;
}

.search button.activeSc {
  background: #1a1a1a;
  padding: 5px 15px;
  border-radius: 50px;
  color: #fafaf8;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
  
  .headerCover {
    max-width: 1023px;
  }

  .gnbPc {
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gnbPc ul {
    height: 100%;
    /* Flex */
    display: flex;
    align-items: center;
  }

  .gnbPc ul .gnbPcLi {
    cursor: pointer;
    margin: 0 10px;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    color: #fafaf8;
    position: relative;
  }

  .gnbPc ul .gnbPcLiSc {
    cursor: pointer;
    margin: 0 10px;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    color: #1a1a1a;
    position: relative;
  }

  .gnbPc ul li.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: currentColor;
  }
}

@media only all and (min-width: 1024px) {
  .headerCover {
    max-width: 1440px;
  }
}

@media only all and (min-width: 1921px) {
  .headerCover {
    max-width: 1920px;
  }
}

