.listWrapper {
    padding: 20px 16px;
}

.listCover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.listCover {
    margin-bottom: 20px;
}

.listCover:last-of-type {
    margin: 0;
}

.listImgCover {
    /* Background */
    width: 100%;
    height: 50%;
    background-size: cover;     /* 꽉 채우기 */
    background-position: center center;/* 가운데 정렬 */
    background-repeat: no-repeat;
}

.listTextCover {
    width: 100%;
    height: 45%;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listText {
    /* Font */
    color: #757575;
}

.listName {
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.listName img {
    width: 14px;
    height: 14px;
}

.listLocation,
.listText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .listWrapper {
        padding: 20px 20px;
    }

    .listWrapper {
    /* Flex */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    }
}

@media only all and (min-width: 480px) and (max-width: 669px) {
    .listCover {
        width: calc((100% - 20px) / 2); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px;
    }

    .listLocation {
        font-size: 1.25rem;
        line-height: 30px;
    }
}

@media only all and (min-width: 670px) and (max-width: 925px) {
    .listCover {
        width: calc((100% - 40px) / 3); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listLocation {
        font-size: 1.25rem;
        line-height: 30px;
    }

}

@media only all and (min-width: 926px) and (max-width: 1023px) {
    .listCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listLocation {
        font-size: 1.25rem;
        line-height: 30px;
    }
}

@media only all and (min-width: 1024px) {
    .listWrapper {
        max-width: 1480px;
        margin: 0 auto;
    }

    .listCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listText {
        /* Font */
        font-size: 1rem;
    }

    .listLocation {
        font-size: 1.5rem;
        line-height: 36px;
    }
}

@media only all and (min-width: 1921px) {
    .listWrapper {
        max-width: 1920px;
    }

    .listLocation {
        font-size: 2.375rem; 
        line-height: 57px;
    }
}