.homeThemeWholeCover {
    padding: 20px 16px 10px;
    margin: 0 auto;
}

.homeThemeCover {
    width: 100%;
    aspect-ratio: 16/6;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
    cursor: pointer;
    /* Background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Position */
    position: relative;
}

.homeThemeCover::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.homeThemeP,
.homeThemePSmall{
    /* Font */
    color: #fff;
    /* Position */
    position: relative;
    z-index: 11;
}

.homeThemeP {
    /* Font */
    font-size: 1.25rem;
    font-weight: 900;
}

.homeThemePSmall {
    /* Font */
    font-size: 1rem;
    font-weight: 600;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
    .homeTheme{
        background-color: #f2f2f7;
    }

    .homeThemeWholeCover {
        padding: 80px 16px 80px;
    }

    .homeThemeCover {
        aspect-ratio: 16/2;
        border-radius: 15px;
        padding: 20px;
        margin-top: 20px;
        /* Background */
        background-position: center 60%;
        /* Flex */
        flex-direction: row;
        justify-content: space-between;
    }

    .homeThemePSnd {
        /* Flex */
        display: flex;
        align-items: center;
        gap: 10px;    
    }
}

@media only all and (min-width: 1024px) {
    .homeThemeWholeCover {
        max-width: 1440px;
        padding: 40px 16px 80px;
    }

    .homeThemeP {
        /* Font */
        font-size: 1.75rem;
    }
}