
.homeThemeBackground{
    background-color: #f2f2f7;
}

.homeThemeWrapper {
    padding: 10px 16px;
    margin: 0 auto;
}

.homeThemeCover {
    width: 100%;
    aspect-ratio: 16/6;
    border-radius: 10px;
    margin-top: 16px;
    overflow: hidden;
    cursor: pointer;
    /* Background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Position */
    position: relative;
}

.homeThemeCover::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.homeThemeText {
    /* Font */
    color: #fff;
    font-weight: 600;
    /* Position */
    position: relative;
    z-index: 11;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
    .homeThemeWrapper {
        padding: 24px 16px;
    }

    .homeThemeCover {
        aspect-ratio: 16/2;
        border-radius: 15px;
        padding: 20px;
        /* Flex */
        flex-direction: row;
        justify-content: space-between;
    }

    .homeThemeLinkCover {
        /* Flex */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        /* Position */
        position: relative;
        z-index: 11;
    }
}

@media only all and (min-width: 1024px) {
    .homeThemeWrapper {
        max-width: 1440px;
    }
}