.locationInfoCover {
    padding: 16px;
    white-space: pre-wrap
}

.locInfoTitle{
    margin-bottom: 20px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

    .infoTitle {
        /* Flex */
        display: flex;
        align-items: center;
    }

    .infoTitle img {
        width: 20px;
        height: 20px;
        margin-right: 10px;  
        margin-bottom: 20px;
    }

.operatingHour, 
.closeDay,
.entranceFee,
.webLink {
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
}

    .locInfoText {
        margin-left: 25px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;

    }

.warningInfo {
    margin: 16px auto;
    /* Font */
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}

/*---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) {
    .locationInfoCover {
        padding: 16px 0 0 0;
    }

    .locationInfoTitle {
        display: block;
        margin-left: 2px;
        margin-bottom: 12px;
        /* Font */
        font-size: 1.5rem;
    }

    .locationInfoTextCover {
        padding: 16px;
        padding-left: 0;
        background-color: #fff;
        border-radius: 10px;
    }

    .infoTitle {
        /* Flex */
        display: flex;
        align-items: center;
    }

    .locInfoTitle {
        margin-bottom: 0;
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;
    }


    .infoTitle img  {
        width: 20px;
        height: 20px;
        margin-right: 10px;  
        margin-bottom: 0;
    }

    .locInfoText {
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 30px;
        /* Font */
        font-size: 1rem;
        font-weight: 500;
        line-height: 30px;
    }

    .warningInfo {
        margin-top: 35px;
    }

}

@media only all and (min-width: 1024px) {

}