/* Mobile First 모바일 퍼스트 */
.homeReviewWrapper {
    background-color: transparent; 
}

.homeReviewHeaderCover {
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeReviewAuthorBy {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
}

.homeReviewTitleCover {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.homeReviewMobilePagination {
    margin-bottom: 10px;
}

.homeReviewHeaderRight {
    /* Flex */
    display: flex;
    align-items: baseline;
}

.homeReviewCurrentIDX {
    font-size: 32px;
    font-weight: 700;
    color: #111;
}

.homeReviewTotalIDX {
    font-size: 18px;
    color: #999;
    margin-left: 5px;
}

.homeReviewCardCover {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    margin-top: 16px;
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.homeReviewCard {
    width: 240px;
    overflow: hidden;
    border-radius: 10px;
    /* Flex */
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
}

.homeReviewImg {
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    cursor: pointer;
    /* Background */
    background-size: cover;
    background-position: center;
    /* Position */
    position: relative;
}

.homeReviewStars {
    padding: 6px 16px;
    border-radius: 20px;
    /* Font */
    font-size: 10px;
    font-weight: 600;
    color: #333;
    /* Background */
    background: rgba(255, 255, 255, 0.8);
    /* Position */
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
}

.homeReviewGoToBtn {
    background: rgba(181, 74, 47, 0.8);
    border: none;
    padding: 6px 16px;
    border-radius: 20px;
    /* Font */
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    /* Position */
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.homeReviewCardTextCover {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.homeReviewAuthorCover {
    width: 97%;
    /* Font */
    font-size: 13px;
    font-weight: 700;
    color: #a88165; 
    text-transform: uppercase;
    /* Flex */
    display: flex;
    justify-content: space-between;
}

.homeReviewRegionName {
    /* Font */
    font-weight: 600;
    color: #1a1a1a;
}

.homeReviewAddress {
    /* Font */
    color: #515151;
    font-weight: 800 !important;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
    .homeReviewHeaderCover {
        border-bottom: 1px solid #eee;
        /* Flex */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .homeReviewCardCover {
        overflow: visible;
        scroll-snap-type: none;
        display: block; 
        margin-top: 30px;
    }

    .homeReviewBodyCover {
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .homeReviewBodyTopCover {
        /* Flex */
        display: flex;
        gap: 16px;
        align-items: flex-start;
    }

    .homeReviewImg {
        width: calc((100% - 16px) / 2);
    }
    
    .homeReviewStars {
        /* Font */
        font-size: 14px;
        /* Position */
        top: 10px;
        left: 10px;
    }
    
    .homeReviewBodyTopText {
        width: calc((100% - 16px) / 2);
        align-self: stretch;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .homeReviewBlogName {
        margin-bottom: 8px;
        /* Font */
        font-size: .813rem;
        font-weight: 700;
        color: #a88165; 
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .homeReviewRegionName {
        margin-bottom: 10px;
        /* Font */
        font-size: 1.5rem;
        font-weight: 700;
    }

    .homeReviewBodyTopDesc {
        white-space: pre-line;
        /* Font */
        font-size: 0.875rem;
        color: #555;
        line-height: 1.8;
    }

    .homeReviewBodyTopInfoCover {
        border-top: 1px solid #eee;
        padding: 10px 0 10px;
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .homeReviewBodyTopInfo {
        color: #b54a2f;
        /* Flex */
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .homeReviewBodyTopInfoDetail {
        font-size: 0.875rem;
        color: #333;
        font-weight: 500;
        line-height: 1.875;
        /* Flex */
        display: flex;
        flex-direction: column;
    }

    .homeReviewBodyTopInfoDetailDate {
        font-size: 0.75rem;
        color: #777;
        font-weight: 400;
    }

    .homeReviewGoToBtn {
        width: 146px;
        height: 40px;
        background-color: #b54a2f;
        border-radius: 6px;
        cursor: pointer;
        /* Font */
        font-size: 15px;
        /* Flex */
        justify-content: center;
        align-items: center;
        /* Position */
        position: static;
    }
    
    .homeReviewGoToBtn:hover {
        background-color: #9d3f27;
    }
    
    .homeReviewBodyBottomCover {
        margin-top: 10px;
        /* Flex */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .homeReviewBodyBottomList {
        list-style: none;
        padding: 0;
        margin: 0;
        /* Flex */
        display: flex;
        width: 100%;
        max-width: 900px;
    }

    .homeReviewBodyBottomListItem {
        flex: 1;
        cursor: pointer;
        padding-top: 15px;
        border-top: 2px solid #e0e0e0;
        transition: all 0.3s ease;
        /* Position */
        position: relative;
    }

    .homeReviewBodyBottomListItem.active {
        border-top: 2px solid #b54a2f;
    }
    
    .homeReviewBodyBottomListItem.active div {
        color: #1a1a1a;
        font-weight: 700;
    }

    .homeReviewBodyBottomListItem div {
        margin-bottom: 5px;
        /* Font */
        font-size: 13px;
        color: #888;
        text-align: center;
    }
}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 1921px) {
    .homeReviewWrapper {
        max-width: 1440px; 
    }
}
