.seasonCateWholeCover {
    width: 100%;
    padding: 8px 16px 0;
}
.seasonCategoryCover {
    width: 100%;
    height: 51px;
    background: rgb(229 231 235 / 0.6);
    border-radius: 9999px;
    /* Flex */
    display: flex;
    align-items: center;
}

.seasonCategoryUI {
    width: 100%;
    height: 41px;
    padding: 0 10px;
}

.seasonCategoryLi {
    width: 25%;
    height: inherit;
    display: inline-block;
    cursor: pointer;
    border-radius: 9999px;
    text-align: center;
    /* Font */
    font-size: 0.9rem;
    font-weight: 400;
    color: #6c757d;
    line-height: 40px;
}

.seasonCategoryLi.active {  
  background-color: #fff;
  /* Font */
  font-size: 1rem;
  font-weight: 700;
  color: #4285f4;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .seasonCateWholeCover {
    width: 100%;
    padding: 8px 20px 0;
}
}

@media only all and (min-width: 1024px) {
    .seasonCateWholeCover {
        max-width: 1440px;
        margin: 0 auto;
    }
}