.aboutCover {
    height: 100vh;
    width: 100vw;
    padding-bottom: 50px;
    /* Font */
    color: #fff;
    text-align: left;
      text-shadow: 
        -1px -1px 0 #000, 
         1px -1px 0 #000, 
        -1px 1px 0 #000, 
         1px 1px 0 #000; 
    /* Background */
    background-image: url('/images/about/aboutBannersM.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* Position */
    position: relative;
}

.about-title {
  font-size: 1.3rem; /* 큰 제목 */
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.about-slogan {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.6;
}

.about-description {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8;
  color: #ddd;
}



/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .aboutCover {
        height: 100vh;
        width: 100vw;
        background-image: url('/images/about/aboutBannersP.jpg');
        background-repeat : no-repeat;
        background-size : cover;
    }
    .about-title {
        font-size: 2.5rem;
    }

    .about-slogan {
        font-size: 1.25rem;
    }

    .about-description {
        font-size: 1rem;
    }
}

@media only all and (min-width: 1024px) {
}