.aboutCover {
  white-space: pre-wrap;
  width: 100%;
  height: calc(100vh - 72px);
  overflow: hidden;
  /* Font */
  color: #fff;
  text-align: center;
  /* Background */
  background-image: url('/images/about/aboutBannersM.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /* Position */
  position: relative;
}

.aboutCover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), 60%, rgba(255,255,255,0.3));
}

.aboutTextCover {
  width: 100%;
  /* Position */
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -15%);
}

.aboutTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.aboutSlogan {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.6;
}

.aboutDescription {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.8;
  color: #f2f2f7;
}

.aboutLinkImgCover {
  margin-top: 15px;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.aboutLinkImgCover img {
  width: 36px;
}



/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
  .aboutCover {
    text-align: left;
    background-image: url('/images/about/aboutBannersP.jpg');
  }

  .aboutCover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.6), 60%, rgba(255,255,255,0.3));
  }

  .aboutTitle {
    font-size: 2.5rem;
  }

  .aboutSlogan {
      font-size: 1.25rem;
  }

  .aboutDescription {
      font-size: 1rem;
  }

  .aboutTextCover {
    /* Position */
    position: absolute;
    top: 200px;
    left: 50px;
    z-index: 99;
    transform: translate(0,0);
  }

  .aboutLinkImgCover {
    /* Flex */
    justify-content: start;
  }

  .aboutLinkImgCover img {
    width: 48px;
    cursor: pointer;
  }
}

@media only all and (min-width: 1024px) {
  .aboutTextCover {
    /* Position */
    left: 175px;
  }
}