.homeRegionWholeCover {
    padding: 20px 16px 10px;
    overflow: hidden;
}

.homeRegionCover {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* Hide Scroll Bar */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    margin-top: 20px;
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.homeRegionListImgCover {
    width: 140px;
    height: 140px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.homeRegionList img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
    
}
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .homeRegionBackground{
        background-color: #f2f2f7;
    }

    .homeRegionWholeCover {
        padding: 80px 16px 80px;
        margin-left: auto;
        margin-right: auto;
        /* Flex */
        display: flex;
        flex-direction: column;
    }

    .homeRegionCover {
        margin-top: 0;
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }

    .homeRegionList {
        border: solid 1px;
        width: calc((100% - 48px) / 4);
        /* aspect-ratio: 20/21; */
        aspect-ratio: 19/16;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        /* Position */
        position: relative;
    }

    .homeRegionList::before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        /* Position */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .homeRegionListImgCover {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .homeRegionList img {
        width: 100%;
        height: 100%;
        transition: all 0.5s linear;
        z-index: 9;
    }

    .homeRegionListHeader {
        width: calc(100% - 30px);
        /* Font */
        color: #fff;
        font-size: 0.75rem;
        font-weight: 400;
        /* Flex */
        display: flex;
        justify-content: space-between;
        /* Position */
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 99;
    }

    .listHeaderFstSpan {
        max-width: 70%;
        padding: 10px 15px;
        border-radius: 9999px;
        background-color: rgba(255, 255, 255, 0.2);
        /* Cut Text */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* Flex */
        display: flex;
        align-items: center;
    }

    .listHeaderSndSpan {
        font-weight: 600;
        /* Flex */
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .listHeaderFstSpan img {
        width: 14px;
        margin-right: 2px;
    }

    .regionExampleList {
        width: calc(100% - 15px);
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* Position */
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 99;
    }

    .regionExampleList .regionArea {
        /* Font */
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    }

    .regionExampleList .regionLooking {
        opacity: 0.8;
        /* Font */
        color: #fff;
        font-size: 0.75rem;
        font-weight: 500;
    }

    .regionAreaListCover {
        /* Flex */
        display: flex;
        flex-wrap: wrap;
    }

    .regionExampleList .regionAreaList {
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
        border-radius: 9999px;
        background-color: rgba(255, 255, 255, 0.2);
        /* Font */
        color: #fff;
        font-size: 0.625rem;
        font-weight: 400;
        /* Position */
        position: absolute;
        bottom: 0;
        left: 0;
        /* Hide */
        opacity: 0;
        transform: translateY(20px);
        white-space: nowrap;    
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .homeRegionList:hover img {
        transform: scale(1.1);
    }

    .homeRegionList:hover::before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), 100%, rgba(255, 255, 255, 0.2));
    }

    /* hover 시 li 등장 */
    .homeRegionList:hover .regionExampleList .regionAreaList {
        /* Position */
        position: static;
        /* Show */
        opacity: 1;
        transform: translateY(0);
    }
}

@media only all and (min-width: 768px) and (max-width: 889px) {
}

@media only all and (min-width: 1024px) {
    .homeRegionWholeCover {
        max-width: 1440px;
        padding: 40px 16px 40px;
    }
    
    .homeRegionCover {
        /* Flex */
        gap: 24px;

    }

    .homeRegionList {
        width: calc((100% - 72px) / 4);
    }

    .homeRegionListHeader {
        width: calc(100% - 40px);
        /* Font */
        font-size: 1rem;
        /* Position */
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .listHeaderFstSpan img {
        width: 20px;
        margin-right: 3px;
    }

    .regionExampleList {
        width: calc(100% - 20px);
        gap: 10px;
        /* Position */
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .regionExampleList .regionArea {
        /* Font */
        font-size: 1.25rem;
    }

    .regionExampleList .regionLooking {
        /* Font */
        font-size: 1rem;
    }

    .regionExampleList .regionAreaList {
        margin-right: 10px;
        /* Font */
        font-size: 0.75rem;
    }
}