.homeRegionWrapper {
    padding: 10px 16px;
    overflow: hidden;
}

.homeRegionCover {
    margin-top: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* Hide Scroll Bar */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.homeRegionListImgCover {
    width: 140px;
    height: 140px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    /* Background */
    background-size: cover;
    background-position: center center;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .homeRegionBackground{
        background-color: #f2f2f7;
    }

    .homeRegionWrapper {
        padding: 24px 16px;
        margin-left: auto;
        margin-right: auto;
        /* Flex */
        display: flex;
        flex-direction: column;
    }

    .homeRegionCover {
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }

    .homeRegionList {
        width: calc((100% - 48px) / 4);
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        /* Position */
        position: relative;
    }

    .homeRegionList::before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        /* Position */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .homeRegionListImgCover {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .homeRegionExampleList {
        width: calc(100% - 15px);
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* Position */
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 99;
    }

    .homeRegionCount {
        /* Font */
        color: #fff;
        font-weight: 700;
    }

    .homeRegionLearnMore {
        /* Font */
        color: #fff;
        font-weight: 600;
    }

    .homeRegionListCover {
        width: 100%;
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .homeRegionAreaList {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        /* Font */
        color: #fff;
        /* Position */
        position: absolute;
        bottom: 0;
        left: 0;
        /* Hide */
        opacity: 0;
        transform: translateY(20px);
        white-space: nowrap;    
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .homeRegionList:hover img {
        transform: scale(1.1);
    }

    .homeRegionList:hover::before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), 100%, rgba(255, 255, 255, 0.2));
    }

    /* hover 시 li 등장 */
    .homeRegionList:hover .homeRegionAreaList {
        /* Position */
        position: static;
        /* Show */
        opacity: 1;
        transform: translateY(0);
    }
}

@media only all and (min-width: 1024px) {
    .homeRegionWrapper {
        max-width: 1440px;
        padding: 40px 16px 40px;
    }
    
    .homeRegionCover {
        /* Flex */
        gap: 24px;
    }

    .homeRegionList {
        width: calc((100% - 72px) / 4);
    }

    .homeRegionExampleList {
        width: calc(100% - 20px);
        gap: 10px;
        /* Position */
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

@media only all and (min-width: 1921px) {
    .homeRegionWrapper {
        max-width: 1920px;
    }
}