.aboutWrapper {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 20px;
  overflow: hidden;
  /* Font */
  white-space: pre-wrap;
  color: #fff;
  /* flex */
  display: flex;
  flex-direction: column;
  /* Background */
  background-image: url('/images/about/aboutBannersM.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  background-position: center center;
  /* Position */
  position: relative;
}

.aboutWrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(113, 113, 113, 0.5);
  /* Position */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.aboutTopCover {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* Font */
  text-align: center;
  /* Position R */
  position: relative;
  z-index: 2;
}

.aboutDescription {
  /* Font */
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.aboutFstMiddleCover {
  width: 90%;
  height: 8%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  overflow: hidden;
  /* Flex */
  display: flex;
  justify-content: center;
  gap: 5px;
  /* Position R */
  position: relative;
  z-index: 2;

  
}

.aboutMiddleCover {
  width: 90%;
  height: 25%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  /* Position R */
  position: relative;
  z-index: 2;
}

.aboutMiddleTitle {
  /* Font */
  font-size: 1.5rem;
  font-weight: 900;
}

.aboutMiddleCover p {
  /* Font */
  font-size: 1rem;
  font-weight: 500;
}

.aboutBottomCover {
  width: 130px;
  height: 130px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 999px;
  overflow: hidden;
  /* Background */
  background-image: url('/images/about/aboutBannersMP.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  background-position: center center;
  /* Position */
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;

}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
}

@media only all and (min-width: 1024px) {
}