.themeDetailLodgingInfoWholeCover {
    white-space: pre-line;
}

.themeDetailBasicInfoCover{
    padding: 16px;
}

.themeDetailBasicInfoH3 {
    margin-bottom: 16px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

.themeDetailBasicInfoP {
    /* font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
}

.themeDetailBasicInfoSubCover {
    /* Flex */
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}

.themeDetailBasicInfoSubCover img {
    width: 16px;
    height: 16px;
}

.title {
    width: 100px;
    font-weight: 600;
    flex-shrink: 0;
    /* font */
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
}

.value {
    flex: 1;
    /* font */
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 22px;
}

/* 숙소 객실 정보 */
.themeDetailRoomInfoListTitle {
    padding-left: 5px;
    /* Font */
    font-size: 1.125rem;
    font-weight: 500;
}

.themeDetailRoomInfoList {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Flex */
    display: flex;
    gap: 10px;
}

.themeDetailRoomInfoList::-webkit-scrollbar {
    display: none;
}

.roomCard {
    width: 85%;
    max-width: 365px;
    min-width: 240px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    scroll-snap-align: start;
    /* Flex */
    flex: 0 0 auto;
}
.roomCard h3 {
    margin-bottom: 5px;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
}

.roomCardInfo {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.roomCardInfo p {
    width: calc((100% - 10px)/2);
    margin: 5px 0;
    /* Font */
    font-size: 0.825rem;
    color: #000;
}

.roomCardInfo p span{
    /* Font */
    font-weight: 700;
    color: #757575;
}

/* 숙소 식당 */

.themeDetailRestaurantsInfoList {
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.themeDetailRestaurantsInfoListCard {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    scroll-snap-align: start;
    /* Flex */
    flex: 0 0 auto;
}

.themeDetailRestaurantsInfoListCard h3 {
    margin-bottom: 10px;
    /* Font */
    font-size: 1.125rem;
    font-weight: 600;
}

.themeDetailRestaurantsInfoListCardInfo {
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.themeDetailRestaurantsInfoListCardInfo p {
    padding-left: 5px;
    /* Font */
    font-size: 0.75rem;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 767px) {
    .themeDetailBasicInfoH1 {
        padding: 20px;
        padding-left: 0;
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    .themeDetailBasicInfoCover{
        padding-left: 0;
    }

    /* 객실 정보 */

    .themeDetailRoomInfoList {
        height: 300px;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .roomCard {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 15px;
        scroll-snap-align: start;
        /* Flex */
        flex: 0 0 auto;
    }
    
    .roomCard h3 {
        margin-bottom: 20px;
    /* Font */
    font-size: 1.125rem;
    font-weight: 600;
    }

    .roomCardInfo {
        /* Flex */
        flex-wrap: nowrap;
        justify-content: start;
    }
    
    .roomCardInfo p {
        /* Font */
        font-weight: 1rem;
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* 숙소 식당 */
    .themeDetailRestaurantsInfoListCardInfo p {
        /* Font */
        font-size: 1rem;
    }

    .themeDetailRestaurantsInfoListCard {
        background: #fff;
        border-radius: 0;
        padding: 5px;
        padding-left: 5px;
        box-shadow: none;
        scroll-snap-align: start;
        /* Flex */
        flex: 0 0 auto;
    }
}

@media only all and (min-width: 1024px) {
}