.themeDetailLodgingInfoWrapper {
    white-space: pre-line;
    padding: 0 16px 16px;
}

.themeDetailBasicInfoCover{
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.themeDetailBasicInfoSubCover {
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.themeDetailBasicInfoSubCover img {
    width: 20px;
    height: 20px;
}

.themeDetailBasicInfoTitle {
    /* font */
    font-weight: 600;
}

/* 숙소 객실 정보 */
.themeDetailRoomInfoList {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Flex */
    display: flex;
    gap: 10px;
}

.themeDetailRoomInfoList::-webkit-scrollbar {
    display: none;
}

.roomCard {
    width: 85%;
    max-width: 365px;
    min-width: 240px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #bababa;
    scroll-snap-align: start;
    padding: 10px;
    /* Flex */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.themeDetailRoomInfoListTitle {
    /* Font */
    font-weight: 600;
}

.roomCardInfo {
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.roomCardInfo p {
    width: calc((100% - 10px)/2);
}

.roomCardInfo p span{
    /* Font */
    font-weight: 700;
    color: #757575;
}

/* 숙소 식당 */

.themeDetailRestaurantsInfoList {
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.themeDetailRestaurantsInfoListCard {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #bababa;
    padding: 10px;
    scroll-snap-align: start;
    /* Flex */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.themeDetailInfoTitleCover {
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;
}

.themeDetailInfoTitle {
    /* Font */
    font-weight: 700;
}

.themeDetailRestaurantsInfoListCardInfo {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 767px) {
    .themeDetailLodgingInfoWrapper {
        padding: 0 0 16px;
    }
    
    .themeDetailBasicInfoCover,
    .themeDetailRoomInfoCover {
        padding: 16px 0 0 0;
    }

    /* 객실 정보 */
    .themeDetailRoomInfoList {
        height: 300px;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .roomCard {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 15px;
        scroll-snap-align: start;
        /* Flex */
        flex: 0 0 auto;
    }

    .roomCardInfo {
        width: 100%;
        /* Flex */
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .roomCardInfo p {
        /* Flex */
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media only all and (min-width: 1024px) {
}