.collectionDetailPageMainWrapper {
    width: 100%;
}

.collectionDetailPageMainCover {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collectionDetailPageTitle {
    padding-left: 2px;
    margin-bottom: 5px;
    /* Font */
    font-size: 24px;
    font-weight: 700;
}

.collectionDetailPageTextCover {
    width: 100%;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* Center align for elegance */
    text-align: left;
    gap: 10px;
}

.collectionDetailPageContent {
    /* Font */
    font-size: 14px;
    color: #1a1a1a;
}

.collectionDetailPageTagCover p {
    padding: 1px 10px;
    border-radius: 50px;
    background-color: rgb(181, 74, 47, 0.3);
    /* Font */
    font-size: 10px;
    font-weight: 500;
    color: #1a1a1a;
}

.collectionDetailPageImgCover {
    width: 100vw;
    /* Hero section height */
    overflow: hidden;
    position: relative;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.collectionDetailPageImgCover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* 카드 컨테이너 */
.collectionDetailPageEtcCover {
    width: 100%;
    padding: 8px 24px;
    background-color: #FBF8F4;
    border-radius: 15px;
}

/* 각 행 (구분선 및 배치) */
.collectionDetailPageEtcInfoCover {
    padding: 16px 0;
    border-bottom: 1px solid #e1ddd6; /* 연한 구분선 */
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 마지막 행은 구분선 제거 */
.collectionDetailPageEtcInfoCover:last-child {
    border-bottom: none;
}

/* 좌측 라벨 (사이즈, 에디션, 프린트 가격) */
.collectionDetailPageEtcInfoLabel {
    font-size: 12px;
    color: #666666;
    font-weight: 500;
}

/* 우측 값 */
.collectionDetailPageEtcInfoValue {
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 500;
}

/* 가격 부분 전용 강조 스타일 */
.collectionDetailPageEtcInfoValue.price {
    font-size: 14px;
    font-weight: 700;
}
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {}

@media only all and (min-width: 480px) {}

@media only all and (min-width: 768px) {
    .collectionDetailPageMainWrapper {
        background-color: #fafaf8;
    }
    .collectionDetailPageMainCover {
        padding: 20px 0;
        /* Flex */
        flex-direction: row;
        gap: 25px;
    }

    .collectionDetailPageImgCover {
        width: 80%;
        aspect-ratio: 1/1;
    }

    .collectionDetailPageEtcCover {
        width: 100%;
        padding: 8px 0;
        background-color: transparent;
    }
}

@media only all and (min-width: 1024px) {
    .collectionDetailPageMainCover {
        flex: 8;
        width: 100%;
        overflow: hidden;
    }
}

@media only all and (min-width: 1921px) {
    .collectionDetailPageMainWrapper {
        max-width: 1440px;
    }
}