.regionListCover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.regionListCover{
    margin-bottom: 20px;
}

.regionListCover:last-of-type {
    margin: 0;
}

.regionListCover img {
    width: 100%;
}

.regionTextCover {
    width: 100%;
    /* (131/343)*100 = 38.19241982507289 */
    height: 38.19241982507289%;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regionName, .regionText {
    /* Font */
    font-size: 1rem;
    color: #757575;
}

.regionName img {
    width: 16px;
    aspect-ratio: 1/1;
}

.regionLocation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Font */
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 669px) {
    .regionListCover {
        width: calc((100% - 20px) / 2); 
        margin: 0;
    }

    .regionTextCover {
        padding: 10px 16px;
    }

    .regionName, .regionText {
        /* Font */
        font-size: 0.75rem;
    }

    .regionLocation {
        /* Font */
        font-size: 1.25rem;
        font-weight: 700;
    }

}

@media only all and (min-width: 670px) and (max-width: 925px) {
    .regionListCover {
        width: calc((100% - 40px) / 3); 
        margin: 0;
    }

    .regionTextCover {
        padding: 10px 10px;
    }

    .regionName, .regionText {
        /* Font */
        font-size: 0.75rem;
    }

    .regionLocation {
        /* Font */
        font-size: 1rem;
        font-weight: 700;
    }
}

@media only all and (min-width: 926px) and (max-width: 1023px) {
    .regionListCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .regionTextCover {
        padding: 10px 10px;
    }

    .regionName, .regionText {
        /* Font */
        font-size: 0.75rem;
    }

    .regionLocation {
        /* Font */
        font-size: 1rem;
        font-weight: 700;
    }
}

@media only all and (min-width: 1024px) {
    .regionListCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .regionTextCover {
        padding: 10px 10px;
    }

    .regionName, .regionText {
        /* Font */
        font-size: 1rem;
    }

    .regionLocation {
        /* Font */
        font-size: 1.5rem;
        font-weight: 700;
    }
}