.locationDetailBannerWrapper {
    width: 100%;
    aspect-ratio: 16/11;
    display: block;
    overflow: hidden;
    padding: 16px;
    /* Background */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Flex */
    display: flex;
    align-items: end;
    /* Position */
    position: relative;
}

.locationDetailBannerWrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 45%, rgba(255, 255, 255, 0.2));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.locationDetailBannerTextCover {
    width: 100%;
    /* Font */
    color: #fff;
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    /* Position */
    z-index: 99;
}

.locationDetailBannerTextName {
    /* Font */
    font-weight: 600;
}

.locationDetailBannerTextAddress {
    /* Flex */
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 5px;
}

.locationDetailBannerTextAddress img {
    width: 14px;
}

.locationDetailBannerTextSlogan {
    /* Font */
    font-weight: 500;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .locationDetailBannerWrapper {
        aspect-ratio: 16/9;
        padding: 20px;
    }
}

@media only all and (min-width: 768px) {
}

@media only all and (min-width: 1024px) {
    .locationDetailBannerWrapper {
        aspect-ratio: 16/5;
    }
    
    .locationDetailBannerTextCover {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media only all and (min-width: 1921px) {
    .locationDetailBannerTextCover {
        max-width: 1920px;
    }
}