.listWholeCover {
    padding: 20px 16px;
}

.listCover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.listCover {
    margin-bottom: 20px;
}

.listCover:last-of-type {
    margin: 0;
}

.listCover img {
    width: 100%;
}

.listTextCover {
    width: 100%;
    /* (131/343)*100 = 38.19241982507289 */
    height: 38.19241982507289%;
    padding: 16px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listName, .listText {
    /* Font */
    font-size: 1rem;
    color: #757575;
}

.listName img {
    width: 16px;
    aspect-ratio: 1/1;
}

.listLocation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Font */
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
    .listWholeCover {
        padding: 20px 20px;
    }

    .listWholeCover {
    /* Flex */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    }
}

@media only all and (min-width: 480px) and (max-width: 669px) {
    .listCover {
        width: calc((100% - 20px) / 2); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 16px;
    }

    .listName, .listText {
        /* Font */
        font-size: 0.75rem;
    }

    .listLocation {
        /* Font */
        font-size: 1.25rem;
        font-weight: 700;
    }
}

@media only all and (min-width: 670px) and (max-width: 925px) {
    .listCover {
        width: calc((100% - 40px) / 3); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listName, .listText {
        /* Font */
        font-size: 0.75rem;
    }

    .listLocation {
        /* Font */
        font-size: 1rem;
        font-weight: 700;
    }
}

@media only all and (min-width: 926px) and (max-width: 1023px) {
    .listCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listName, .listText {
        /* Font */
        font-size: 0.75rem;
    }

    .listLocation {
        /* Font */
        font-size: 1rem;
        font-weight: 700;
    }
}

@media only all and (min-width: 1024px) {
    .listWholeCover {
        max-width: 1480px;
        margin: 0 auto;
    }

    .listCover {
        width: calc((100% - 60px) / 4); 
        margin: 0;
    }

    .listTextCover {
        padding: 10px 10px;
    }

    .listName, .listText {
        /* Font */
        font-size: 1rem;
    }

    .listLocation {
        /* Font */
        font-size: 1.5rem;
        font-weight: 700;
    }
}