  /* Mobile First 모바일 퍼스트 */
  .bannerWrapper {
    white-space: pre-wrap;
    width: 100%;
    aspect-ratio: 16/14;
    margin: 0 auto;
    /* Position */
    position: relative;
  }

    /* 메인 배너 */
  .mainBannerArea {
    width: 100vw;
    aspect-ratio: 16/14;
    overflow: hidden;
    /* Position */
    position: relative;
    z-index: 1;
  }

  .mainBannerArea::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), 25%, rgba(255, 255, 255, 0.1));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .bannerTextWrapper {
    width: calc(100% - 32px);
    height: calc(100% - 30px);
    margin: 0 auto;
    /* Font */
    color: #fff;
    text-align: center;
    /* Position */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .bannerLocation {
    padding: 15px 0;
    /* Font */
    font-weight: 600;
  }
  .bannerTextLine {
    border: 1px solid #fff;
    margin: 0 0 20px 0;
  }

  .bannerTextH2 {
    margin-bottom: 28px;
    /* Font */
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  .bannerTextP1 {
    /* Font */
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .learnMore {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #fafaf8;
    background: rgba(255,255,255,0.3);
    /* Font */
    text-shadow: 2px 0 #1a1a1a;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: 14%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .mainBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .fadeInMain {
    opacity: 1;
  }

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    bottom: -10%;
    z-index: 97;
  }

  .thumbItem {
    width: calc((100% - 15px) / 4);
    aspect-ratio: 16/12;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }

  .thumbItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  /* 이동 + 확대 + 페이드아웃 */
  .thumbFly {
    border-radius: 0;
    transition:
    transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
    opacity 0.3s ease,
    width 0.1s ease,
    height 0.9s ease,
    top 0.9s ease,
    left 0.1s ease;
    /* Position */
    z-index: 100;
  }

@media only all and (min-width: 480px) {
  .bannerWrapper {
    aspect-ratio: 16/11;
  }

    /* 메인 배너 */
  .mainBannerArea {
    aspect-ratio: 16/11;
  }

  .bannerTextWrapper {
    width: calc(100% - 40px);
  }

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    /* Position */
    bottom: -13%;
  }

  .thumbItem {
    aspect-ratio: 16/10;
  }
}

@media only all and (min-width: 550px) and (max-width: 767px) {
  .bannerWrapper {
    aspect-ratio: 16/10;
  }

  .bannerTextH2 {
    margin-top: 30px;
    margin-bottom: 30px;
    /* Font */
    font-size: 1.875rem;
  }

  .bannerTextP1 {
    /* Font */
    font-size: 1rem;
  }

  .learnMore {
    /* Position */
    bottom: 13%;
  }

    /* 메인 배너 */
  .mainBannerArea {
    aspect-ratio: 16/10;
  }
  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: 100%;
    max-width: 550px;
    padding: 16px;
    margin-left: calc(-550px / 2);
    /* Flex */
    display: flex;
    justify-content: center;
    gap: 5px;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: -13%;
    z-index: 9999;
  }
}

@media only all and (min-width: 768px) {
  .bannerWrapper {
    height: 450px;
    max-width: 1440px;
  }

  .learnMore {
    /* Position */
    bottom: 28%;
  }

  /* 메인 배너 */
  .mainBannerArea {
    height: 450px;
    /* Position */
    left: 50%;
    right: 50%;
    margin-left: -50vw;   /* 화면 왼쪽까지 확장 */
    margin-right: -50vw;  /* 화면 오른쪽까지 확장 */
  }

  .bannerTextWrapper {
    width: calc(100% - 50px);
    max-width: 1440px;
    /* Positiong */
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .bannerTextH2 {
    margin-bottom: 40px;
    /* Font */
    font-size: 48px;
    line-height: 50px;
  }

  .bannerTextP1 {
    margin-bottom: 10px;
    /* Font */
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .bannerTextP2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;

  }  

  /* 썸네일 – 항상 최상단 */
  .thumbContainer {
    width: calc(100% - 150px);
    margin-left: 0;
    padding: 0;
    /* Flex */
    justify-content: end;
    gap: 12px;
    /* Position */
    bottom: 20px;
    right: 25px;
  }

  .thumbItem {
    width: 100px;
    aspect-ratio: 16/10;
  }
}

@media only all and (min-width: 1280px) {
  .bannerWrapper {
    aspect-ratio: 16/6;
    height: auto;
  }
  
  /* 메인 배너 */
  .mainBannerArea {
    aspect-ratio: 16/6;
    height: auto;
  }

  .bannerTextH2 {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .bannerTextP1 {
    /* Font */
    font-size: 1.25rem;
    line-height: 30px;
  }

  .learnMore {
    /* Position */
    bottom: 30%;
  }
  
}