.backArrowCover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 16px;
    padding: 7px;
    cursor: pointer;
    /* Position */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.backArrowImg {
    width: 100%;
}

@media only all and (min-width: 480px) {
    .backArrowCover {
        margin: 20px;
    }
}