/* --------------------------------------------------------- */
/* Header.jsx */
header {
  width: 100%;
  height: 72px;
  padding: 16px 5%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 121px;
  cursor: pointer;
  /* Flex */
  display: flex;  
}

header .logo img {
  width: 100%;
  height: 40px;
  margin-right: 5px;
}
.search {
  cursor: pointer;
}

.search img {
  width: 32px;
  height: 32px;
}

/* /Header.jsx */
/* --------------------------------------------------------- */

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
  .header {
    padding: 16px 15%;
  }
}

@media only all and (min-width: 1024px) {
  .header {
    padding: 16px 20%;
  }
}
