/* --------------------------------------------------------- */
/* Header.jsx */
header {
  width: 100%;
  height: 72px;
  padding: 16px;
  background: #fff;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 121px;
  cursor: pointer;
  /* Flex */
  display: flex;  
}

header .logo img {
  height: 40px;
  margin-right: 5px;
}

.search {
  cursor: pointer;
}

.search img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

/* GNB는 1023 이상 */
.gnbPc {
  display: none;
}

/* /Header.jsx */
/* --------------------------------------------------------- */

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
  .header {
    /* (125/767)*100 = 16.297262059973924 */
    padding: 16px 16.297262059973924%;
  }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
  .header {
    /* (145/1023)*100 = 14.173998044965789 */
    padding: 16px 14.173998044965789%;
  }
}

@media only all and (min-width: 1024px) {
  .gnbPc {
    height: 100%;
    display: inline-block;
  }
  
  .gnbPc ul {
    height: 100%;
    /* Flex */
    display: flex;
    align-items: center;
  }

  .gnbPc ul .gnbPcLi {
    cursor: pointer;
    margin: 0 15px;
    /* Font */
    font-size: 0.875rem;
    font-weight: 500;
  }

  /* 검색기능 추가후 활성화 */
  /* .search img:last-of-type {
    display: none;
  } */
}

@media only all and (min-width: 1024px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
  }
}
