header {
  width: 100%;
  height: 72px;
  padding: 16px;
  margin: 0 auto;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 121px;
  cursor: pointer;
  /* Flex */
  display: flex;  
}

header .logo img {
  height: 40px;
  margin-right: 5px;
}

.search {
  cursor: pointer;
}

.search img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

/* ---Show and Hide--- */
/* show in higher than 1024px */
.gnbPc {
  display: none;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
  .header {
    max-width: 550px;
  }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 765px;
  }
}

@media only all and (min-width: 1024px) {
  .header {
    max-width: 1440px;
  }

  .gnbPc {
    height: 100%;
    /* For Show up */
    display: inline-block;
  }
  
  .gnbPc ul {
    height: 100%;
    /* Flex */
    display: flex;
    align-items: center;
  }

  .gnbPc ul .gnbPcLi {
    cursor: pointer;
    margin: 0 10px;
    /* Font */
    font-size: 1rem;
    font-weight: 500;
  }

/* ---Show and Hide--- */
/* show in lower than 1023px */
  .search{
    display: none;
  }
}
