.detailReviewWrapper {
    padding: 16px;
}

.detailReview,
.detailReviewYet {
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #4285F4;
    cursor: pointer;
    /* Font */
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.detailReviewYet {
    background-color: #525252;
}


/*---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {

}

@media only all and (min-width: 768px) {
    .detailReviewWrapper {
        padding: 0 0 16px;
    }

    .detailReview,
    .detailReviewYet {
        margin-top: 16px;
    }

}

@media only all and (min-width: 1024px) {

}