.topPlaces {
  padding: 20px 16px 10px;
}
.topPlaces h3 {
  width: 100%;
  text-align: center;
  /* Font */
  font-size: 1.5rem;
  font-weight: bold;
}

.topPlaces .cards {
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}

.topPlaces .card:nth-of-type(2) {
  width: 100%;
  height: 50.6667vw;
}

.topPlaces .card {
  /* (162/343)*100 = 47.23032069970846 */
  /* (167/343)*100 = 48.68804664723032 */
  width: 48.68804664723032%;
  /* width: 47.23032069970846%; */
  margin-top: 10px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  /* Position */
  position: relative;
}

.topPlaces .card:nth-of-type(2) img {
  height: 110%;
}

.topPlaces .card img {
  width: 100%;
  height: auto;
}

.topPlaces .card span {
  width: 45px;
  height: 45px;
  margin: 10px 10px 0;
  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 100%;
  /* Font */
  color: #515151;
  font-size: 0.625rem;
  font-weight: 900;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Position */
  position: absolute;
  left: 0;
  top: 0;
}

.topPlaces .card p {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  /* Font */
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Position */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
  .topPlaces {
    max-width: 550px;
    padding: 10px 16px 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .topPlaces .card:nth-of-type(2) img {
    height: auto;
  }

  .topPlaces .card:nth-of-type(2) {
    /* (323/518)*100 = 62.35521235521235 */
    width: 62.35521235521235%;
    height: auto;
    max-height: 179px;
    /* height: 190px; */
  }

  .topPlaces .card:nth-of-type(3) {
    /* (179/518)*100 = 34.55598455598455 */
    width: 34.55598455598455%;
    height: 100%;
  }

  .topPlaces .card:nth-of-type(4),
  .topPlaces .card:nth-of-type(5),
  .topPlaces .card:nth-of-type(6) {
    /* (162/518)*100 = 31.27413127413127 */
    width: 31.27413127413127%;
    height: 100%;
  }
}

@media only all and (min-width: 768px) {
  .topPlaces {
    padding: 80px 16px 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .topPlaces h3 {
    text-align: left;
  }

  .cardsTitle768 {
    width: 100%;
    margin-bottom: 30px;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainCard {
    width: 100%;
  }

  .mainCardImg {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    /* Position */
    position: relative;
  }

  .mainCardImg img {
    width: 100%;
  }

  .mainCardImg::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), 40%, rgba(255, 255, 255, 0.2));
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .mainCardCover {
    width: 90%;
    margin: 0 auto;
    /* Flex */
    display: flex;
    gap: 15px;
  }
  
  .topPlaces .card:nth-of-type(2) {
    width: calc((100% - 60px)/5);
    height: auto;
  }

  .mainCard .card {
    width: calc((100% - 60px)/5);
    aspect-ratio: 16/5;
    margin-top: 14px;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
  }

  .mainCard .card:not(.card.selected):hover {
    opacity: 0.8;
  }

  .mainCard .card::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.5);
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .mainCard .card img {
    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mainCard .card p {
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    /* Position */
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 10%);
    z-index: 99;
  }

  .card.selected {
    border-radius: 10px;
    transform: scale(1.1);
    opacity: 1;
    /* Font */
    font-size: 1.25rem;
    font-weight: 800;
  }
  
  .mainCardImgTextCover {
    width: 100%;
    padding: 16px;
    /* Font */
    color: #fff;
    text-align: left;
    /* Position */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99;
  }

  .mainCardImgTextCover span {
    width: 120px;
    aspect-ratio: 16/5;
    background-color: rgba(117, 117, 117, 0.7);
    border-radius: 9999px;
    margin-bottom: 20px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainCardImgTextCover span img {
    width: 20px;
    margin-right: 5px;
  }

  .mainCardImgTextCover .mainCardRegion img {
    width: 18px;
    margin-right: 5px;
  }

  .mainCardImgTextCover .mainCardRegion {
    margin-bottom: 20px;
    /* Font */
    font-size: 1rem;
  }

  .mainCardImgTextCover .mainCardLocation {
    margin-bottom: 20px;
    /* Font */
    font-size: 1.5rem;
    font-weight: 700;
  }

  .mainCardImgTextCover .mainCardExplain {
    /* Font */
    font-size: 1rem;
    font-weight: 400;
  }
  
}

@media only all and (min-width: 1024px) {
  .topPlaces {
    max-width: 1440px;
    padding: 80px 16px 40px;
  }

  .mainCardCover {
    gap: 20px;
  }
  
  .topPlaces .card:nth-of-type(2) {
    width: calc((100% - 80px)/5);
  }

  .mainCard .card {
    width: calc((100% - 80px)/5);
    margin-top: 16px;
  }

  .mainCard .card p {
    /* Font */
    font-size: 1.25rem;
    /* Position */
    bottom: 25%;
    transform: translate(-50%, 25%);
  }

  .card.selected {
    /* Font */
    font-size: 1.5rem;
  }
  
  .mainCardImgTextCover {
    padding: 30px;
  }

  .mainCardImgTextCover span {
    width: 200px;
    /* Font */
    font-size: 1.25rem;
  }

  .mainCardImgTextCover span img {
    width: 40px;
    margin-right: 10px;
  }

  .mainCardImgTextCover .mainCardRegion img {
    margin-right: 10px;
  }

  .mainCardImgTextCover .mainCardRegion {
    margin-bottom: 20px;
    /* Font */
    font-size: 1rem;
  }

  .mainCardImgTextCover .mainCardLocation {
    /* Font */
    font-size: 2.625rem;
  }

  .mainCardImgTextCover .mainCardExplain {
    /* Font */
    font-size: 1.25rem;
  }
}