.topPlaces {
  padding: 20px 16px 10px;
}

.topPlaces .cards {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* Hide Scroll Bar */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  margin-top: 20px;
  /* Flex */
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.topPlaces .card {
  width: 240px;
  height: 225px;
  overflow: hidden;
  border-radius: 10px;
  /* flex */
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardImgCover {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  /* Background Image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cardTextCover {
  padding-left: 5px;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

.topRanking {
  /* Font */
  color: #515151;
  font-size: 0.625rem;
  font-weight: 900;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topName {
  width: 100%;
  text-align: left;
  /* Font */
  color: #1a1a1a;
  font-size: 1.125rem;
  font-weight: bold;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
  .topPlaces {
    padding: 80px 16px 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .cardsTitle768 {
    width: 100%;
    margin-bottom: 30px;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topPlaces .cards {
    overflow: visible;
    scroll-snap-type: none;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: auto;
    scrollbar-width: auto;
    -ms-overflow-style: auto;
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .mainCard {
    width: 100%;
  }

  .mainCardImg {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    /* Position */
    position: relative;
  }

  .mainCardImg img {
    width: 100%;
  }

  .mainCardImg::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), 40%, rgba(255, 255, 255, 0.2)); */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .mainCardCover {
    width: 90%;
    margin: 0 auto;
    /* Flex */
    display: flex;
    gap: 15px;
  }
  
  .topPlaces .card:nth-of-type(2) {
    width: calc((100% - 60px)/5);
    height: auto;
  }

  .mainCard .card {
    width: calc((100% - 60px)/5);
    height: auto;
    aspect-ratio: 16/5;
    margin-top: 14px;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    overflow: hidden;
    /* Position */
    position: relative;
  }

  .mainCard .card img {
    width: 100%;
    height: auto;
  }

  .mainCard .card:not(.card.selected):hover {
    opacity: 0.8;
  }

  .mainCard .card::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.5);
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .mainCard .card img {
    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mainCard .card p {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  /* Font */
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Position */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
    /* Font */
    font-size: 1rem;
    font-weight: 500;
    /* Position */
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 10%);
    z-index: 99;
  }

  .card.selected {
    border-radius: 10px;
    transform: scale(1.1);
    opacity: 1;
    /* Font */
    font-size: 1.25rem;
    font-weight: 800;
  }
  
  .mainCardImgTextCover {
    width:35%;
    aspect-ratio: 9/8;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Font */
    color: #fff;
    text-align: left;
    /* Flex */
    display: flex;
    flex-direction: column;
    /* Position */
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99;
  }

  .mainCardTop {
    margin-bottom: 20px;
    /* Font */
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
  }

  .mainCardImgTextCover .mainCardRegion img {
    width: 18px;
    margin-right: 5px;
  }

  .mainCardImgTextCover .mainCardRegion {
    margin-bottom: 20px;
    /* Font */
    font-size: 0.875rem;
  }

  .mainCardImgTextCover .mainCardLocation {
    margin-bottom: 20px;
    /* Font */
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  .mainCardImgTextCover .mainCardExplain {
    margin-bottom: 10px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    flex: 1;              
    overflow: hidden; 
  }
  
}

@media only all and (min-width: 1024px) {
  .topPlaces {
    max-width: 1440px;
    padding: 80px 16px 40px;
  }

  .mainCardCover {
    gap: 20px;
  }
  
  .topPlaces .card:nth-of-type(2) {
    width: calc((100% - 80px)/5);
  }

  .mainCard .card {
    width: calc((100% - 80px)/5);
    margin-top: 16px;
  }

  .mainCard .card p {
    /* Font */
    font-size: 1.25rem;
    /* Position */
    bottom: 25%;
    transform: translate(-50%, 25%);
  }

  .card.selected {
    /* Font */
    font-size: 1.5rem;
  }
  
  .mainCardImgTextCover {
    padding: 30px;
  }

  .mainCardTop {
    width: 200px;
    /* Font */
    font-size: 1.25rem;
  }

  .mainCardImgTextCover .mainCardRegion img {
    margin-right: 10px;
  }

  .mainCardImgTextCover .mainCardRegion {
    /* Font */
    font-size: 1rem;
  }

  .mainCardImgTextCover .mainCardLocation {
    /* Font */
    font-size: 2rem;
  }

  .mainCardImgTextCover .mainCardExplain {
    /* Font */
    font-size: 1.25rem;
  }

  .mainCardImgTextCover .mainCardLast {
  margin-top: auto;
    /* Font */
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
  }
}