footer {
  width: 100%;
  background: #e2e8f0;
  color: #000;
  text-align: center;
  /* margin-top: 40px; */
  letter-spacing: 0.02em;
}

.footerCover {
  width: 100%;
  padding: 30px 16px;
  background-color: transparent;
}

.footerLinkCover {
  width: 100%;
  margin-bottom: 15px;
  /* Font */
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footerEmail {
  width: 100%;
  margin-bottom: 5spx;
  /* Font */
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.footerCopyRight {
  width: 100%;
  /* Font */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .warnings {
  width: 100%;
  margin-bottom: 10px;
  /* Font */
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #525252;
}


/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
}

@media only all and (min-width: 768px) {
  footer {
    text-align: left;
  }

  .footerCover {
    max-width: 1440px;
    margin: 0 auto;
  }

  .footerLinkCover {
    /* Flex */
    justify-content: start;
  }
}

@media only all and (min-width: 1024px) {
}