footer {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: left;
  padding: 20px 16px;
  /* margin-top: 40px; */
  letter-spacing: 0.02em;
}
footer a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}
footer p {
  margin: 15px 5px 0px;
}

footer .warnings {
  /* Font */
  font-size: 0.625rem;
}