
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {
    .homeSeasonWrapper {
        width: 100%;
        margin: 0 auto;
        padding: 24px 16px;
    }

    .homeSeasonCover {
        margin-top: 16px;
        cursor: pointer;
        /* Flex */
        display: flex;
        flex-direction: row;
        gap: 24px;

    }

    .homeSeasonTextCover {
        width: calc((100% - 72px) / 4);
        aspect-ratio: 19 / 16;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        /* Background */
        background-size: cover;
        background-position: center bottom;
        /* Font */
        color: #fff;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* Position */
        position: relative;
    }

    .homeSeasonTextCover::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 60%, rgba(255, 255, 255, 0.1));
        z-index: 11;
    }
    

    .homeSeasonTextCover::after {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        transition: transform 0.8s ease; /* ← 확대 속도 조절 (느리게) */
        transform: scale(1);
        /* Position */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .homeSeasonTextCover:hover::after {
        transform: scale(1.1);
    }

    .homeSeasonTextCover:hover::before {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), 50%, rgba(255, 255, 255, 0.2));
    }

    .homeSeasonImgCover {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 99;
        /* Flex */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .homeSeasonTextCover img {
        width: 50%;
        height: 50%;
    }

    .homeSeasonTitle {
        z-index: 99;
        /* Font */
        font-weight: 600;
    }

    .homeSeasonsCount {
        z-index: 99;
    }
}

@media only all and (min-width: 1024px) {
    .homeSeasonWrapper {
        max-width: 1440px;
        padding: 40px 16px 40px;
    }

    .homeSeasonImgCover {
        width: 50px;
    }
}

@media only all and (min-width: 1921px) {
    .homeSeasonWrapper {
        max-width: 1920px;
    }
}