.explainCover {
    width: 100%;
    padding: 20px 16px 0;
    border-radius: 10px;
    word-break: break-all;
    /* Position */
    position: relative;
}

.explainCover .explainTitle {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    font-size: 1.563rem;
    font-weight: 900;
}

.explainCover .explain {
    width: 100%;
    margin-bottom: 16px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 25px;
}

.explainCover .explainLast {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    color: #525252;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 20px;
    white-space: pre-wrap;
}

.topMap {
    width: 100%;
    aspect-ratio: 1/1;
}

.topaLinkCover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEE500;
    text-align: center;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
    /* 배경 이미지 */
    background: center no-repeat url("/images/kakaomap.png");
    background-size: cover;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: end;
    /* Position */
    position: absolute;
    right: 16px;
    bottom: 0;
    z-index: 99;
}

.topA {
    margin-bottom: 4px;
    /* Font */
    color: #fff;
    font-size: 0.688rem;
    font-weight: 900;
    letter-spacing: 0.01em;
}

.topMapP,
.explainImgCover,
.explainName {
    display: none;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .explainCover {
        padding: 20px 20px 0;
    }

    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px;        
    }
    
    .topMap {
        width: 100%;
        aspect-ratio: 2.423/1;
    }

    .topaLinkCover {
        /* Position */
        right: 20px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
    .explainCover {
        padding: 30px 20px 0px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .explainTextImgCover {
        /* 100-38.45371312309258 = 61.54628687690742 */
        width: calc(61.54628687690742% - 16px);
        text-align: center;
    }

    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px; 
        text-align: left;       
    }
    
    .topMapCover {
        /* (378/983)*100 = 38.45371312309258 */
        width: 38.45371312309258%;
        background-color: #fff;
        border-radius: 10px;
        /* Position */
        position: relative;
    }

    .topMap {
        /* (378/983)*100 = 38.45371312309258 */
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .topaLinkCover {
        /* Position */
        right: 5px;
        bottom: 5px;
    }
}

@media only all and (min-width: 1024px) {
    .explainWholeCover{
        background-color: #f2f2f7;
    }
    
    .explainCover {
        max-width: 1320px;
        margin: 0 auto;
        padding: 60px 20px 0px;
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .explainName {
        display: block;
        margin-left: 2px;
        margin-bottom: 12px;
        /* Font */
        font-size: 24px;
        font-weight: 700;
    }
    
    .explainTextImgCover {
        /* (899/1440)*100 = 62.43055555555556 = 46.822916666666664 */
        width: 62.43055555555556%;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        /* padding: 30px 100px; */
        margin-bottom: 20px;
        /* Flex */
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .explainImgCover {
        display: block;
        width: 35%;
        border-radius: 10px;
        overflow: hidden;
        /* Flex */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explainCover img {
        object-fit: cover;
    }

    .explainTextCover {
        width: 65%;
        align-self: stretch;
    }

    .explainTextCover .explainTitle  {
        text-align: left;
        /* Font */
        font-size: 1.5rem;
    }

    .explainTextCover .explain  {
        text-align: left;    
        /* Font */
        font-size: 1rem; 
        line-height: 30px;
        letter-spacing: 0.03em;  
    }

    .explainTextCover .explainLast {
        text-align: left;
        /* Font */
        font-size: 0.875rem;
        line-height: 25px;
        letter-spacing: 0.03em;  
    }
    
    .topMapCover {
        /* (899/1440)*100 = 62.43055555555556 = 46.822916666666664 */
        width: 62.43055555555556%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        /* Position */
        position: relative;
    }

    .topMapP {
        display: block;
        margin-bottom: 10px;
        /* Font */
        font-size: 1rem;
        font-weight: 600;
    }
    
    .topMap {
        width: 100%;
        aspect-ratio: 16 / 8;
    }

    .topaLinkCover {
        width: 55px;
        height: 55px;
        /* Position */
        right: 20px;
        bottom: 20px;
    }

    .topaLinkCover p {
        font-size: 1rem;
    }
}