.explainCover {
    width: 100%;
    padding: 20px 16px 0;
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Position */
    position: relative;
}

.explainCover .explainTitle {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    font-size: 1.563rem;
    font-weight: 900;
}

.explainCover .explain {
    width: 100%;
    margin-bottom: 16px;
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 25px;
}

.explainCover .explainLast {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    /* Font */
    color: #757575;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 20px;
}

.topMap {
    width: 100%;
    aspect-ratio: 1/1;
}

.topaLinkCover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEE500;
    text-align: center;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
    /* 배경 이미지 */
    background: center no-repeat url("/images/kakaomap.png");
    background-size: cover;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: end;
    /* Position */
    position: absolute;
    right: 16px;
    bottom: 0;
    z-index: 99;
}

.topA p {
    margin-bottom: 4px;
    /* Font */
    color: #fff;
    font-size: 0.688rem;
    font-weight: 900;
    letter-spacing: 0.01em;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .explainCover {
        padding: 20px 20px 0;
    }

    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px;        
    }
    
    .topMap {
        width: 100%;
        aspect-ratio: 2.423/1;
    }

    .topaLinkCover {
        /* Position */
        right: 20px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
    .explainCover {
        padding: 30px 20px 0px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .explainTextCover {
        /* 100-38.45371312309258 = 61.54628687690742 */
        width: calc(61.54628687690742% - 16px);
        text-align: center;
    }

    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px; 
        text-align: left;       
    }

    .topMap {
        /* (378/983)*100 = 38.45371312309258 */
        width: 38.45371312309258%;
        aspect-ratio: 1 / 1;
    }

    .topaLinkCover {
        /* Position */
        right: 20px;
    }
}

@media only all and (min-width: 1024px) {
    .explainCover {
        max-width: 1480px;
        margin: 0 auto;
        padding: 30px 20px 0px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .explainTextCover {
        /* 100-26.25 = 73.75 */
        width: calc(73.75% - 16px);
        text-align: center;
    }

    .explainCover .explain  {
        max-width: 517px;
        margin: 0 auto 16px; 
        text-align: left;       
    }

    .topMap {
        /* (378/1440)*100 = 26.25 */
        width: 26.25%;
        aspect-ratio: 1 / 1;
    }

    .topaLinkCover {
        /* Position */
        right: 20px;
    }
}