.explainCover {
    width: 95%;
    margin: 15px auto 0;
    padding: 8px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Position */
    position: relative;
}

.explainCover .explainTitle {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    /* Font */
    font-size: 1.6rem;
    font-weight: 900;
}

.explainCover .explain {
    width: 100%;
    margin-bottom: 15px;
    /* Font */
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 1.6;
}

.explainCover .explainLast {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    /* Font */
    color: darkgray;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.topMap {
    width: 100%;
    height: 300px;
}

.topaLinkCover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEE500;
    text-align: center;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
    /* 배경 이미지 */
    background: center no-repeat url("/images/kakaomap.png");
    background-size: cover;
    /* Font */
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.1px;
    line-height: 1.5;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Position */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 800px) {
    .explainCover {
    width: 95%;
    margin: 15px auto 0;
    padding: 8px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Position */
    position: relative;
    }
    
    .explainTextCover {
        width: 60%;
        text-align: center;
    }

    .topMap {
        width: 40%;
        height: 350px;
    }

    .topaLinkCover {
        width: 50px;
        height: 50px;
    }
}

@media only all and (min-width: 1024px) {
}