.homeCategoryWrapper {
    width: 100%;
    height: auto;
    padding: 40px 16px 10px;
}

.homeCategoryCardCover {
    /* Flex */
    display: flex;
    gap: 15px;
}

.homeCategoryWrapper .homeCategoryCard {
    width: calc((100% - 15px) / 3);
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homeCategoryImgCover{
    width: 30px;
    height: 30px;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeCategoryWrapper .homeCategoryCard img {
    width: 100%;
}

.homeCategoryWrapper .homeCategoryCard p {
    width: 100%;
    text-align: center;
    /* Font */
    color: #333333;
    font-weight: 600;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .homeCategoryWrapper {
        padding: 70px 16px 20px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
}

@media only all and (min-width: 1024px) and (max-width: 1439px) {
}

@media only all and (min-width: 1024px) {
}