.seasonListCover {
    width: 100%;
    padding: 0 16px 20px;
}

.seasonListH3 {
    margin-bottom: 6px;
    /* Font */
    font-size: 1.3rem;
    font-weight: 700;
}

.seasonListImg {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.seasonSwiper{
    /* (240/343)*100 = 69.97084548104957 */
    width: 69.97084548104957% !important;
    overflow: hidden;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}

.seasonListImg img {
    width: 100%;
    aspect-ratio: 12 / 16;
}

.seasonListH4, .seasonListP {
    margin: 5px 5px;
}

.seasonListH4 {
    /* Font */
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.seasonListP{
    /* Font */
    font-size: 0.9rem;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 1023px) {
    .seasonListImg img {
        aspect-ratio: 16 / 9;
    }

    .seasonSwiper {
        width: 60% !important;
    }
}

@media only all and (min-width: 1024px) {
    .seasonListCover {
        max-width: 1440px;
        margin: 0 auto;
    }

    .seasonListImg img {
        aspect-ratio: 16 / 9;
    }

    .seasonSwiper {
        width: 40% !important;
    }
}