
/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 768px) {
    .regionBannerCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .regionBannerCover img {
        width: 100%;
    }
}

@media only all and (min-width: 1024px) {
    .regionBannerCover {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .regionBannerCover img {
        width: 100%;
    }
}