.regionListTitleCover {
    margin: 0 auto;
    padding: 20px 16px 0;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regionListTitleCover h3 {
    /* Font */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.regionListTitleCover p {
    /* Font */
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
}

@media only all and (min-width: 1024px) {
    .regionListTitleCover {
        max-width: 1480px;
        margin: 0 auto;
        padding: 20px 20px 0;
        display: block;
    }

    .regionListTitleCover h3 {
        /* Font */
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    .regionListTitleCover p {
        margin-top: 10px;
        /* Font */
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

}