.themeDetailCafeInfoWholeCover {
    white-space: pre-line;
}

.themeDetailInfoOperatingHourCover,
.themeDetailInfoMenu,
.themeDetailInfoOthers {
    padding: 16px;
}

.themeDetailInfoH3 {
    margin-bottom: 16px;
    /* Font */
    font-size: 1.25rem;
    font-weight: 600;
}

.themeDetailInfoP {
    /* font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
}

.themeDetailInfoP img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.themeDetailInfoOthersSpan {
    /* Flex */
    display: flex;
    align-items: center;
}

.themeDetailInfoSpan {
    /* Font */
    color: #00897B;
    font-weight: 600;
}

.themeDetailInfoSpanS {
    /* Font */
    color: #525252;
    font-weight: 600;
}

.themeDetailInfoMenuCover {
    width: 100%;
    /* Flex */
    display: flex;
    justify-content: space-between;
}

.themeDetailInfoMenuLeftCover {
    text-align: left;
}

.themeDetailInfoMenuRightCover {
    text-align: right;
}

.themeDetailInfoBtn {
    width: 100%;
    padding: 16px 0;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 10px;
    /* Font */
    font-weight: 700;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) {
}

@media only all and (min-width: 1024px) {
    .themeDetailInfoH1 {
        padding: 20px;
        padding-left: 0;
        /* Font */
        font-size: 1.25rem;
        font-weight: 600;
    }

    .themeDetailInfoOperatingHourCover,
    .themeDetailInfoMenu,
    .themeDetailInfoOthers {
        padding-left: 0;
        /* Flex */
        display: flex;
    }
    
    .themeDetailInfoH3 {
        width: 10%;
        /* Font */
        font-size: 1rem;
        line-height: 32px;
    }

    .themeDetailInfoP {
        width: 90%;
    }
    
    .themeDetailInfoBtn {
        width: 100%;
        border: 0;
        cursor: pointer;
        /* Flex */
        display: flex;
        align-items: center;
    }

    .themeDetailInfoBtn img {
        margin-left: 7px;
    }
}