.homePageCateTitle {
  width: 100%;
  /* Font */
  font-size: 1.5rem;
  font-weight: bold;
}

.homePageCateTitle {
  white-space: pre-wrap;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
}

@media only all and (min-width: 768px) {  
}

@media only all and (min-width: 1024px) {
}