.topParkingInfo {
    width: 100%;
    padding:6px 16px 16px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Position */
    position: relative;
}

.topParkingTitle {
    /* Font */
    font-size: 1.6rem;
    font-weight: 900;
}
.topParkingTableHead1, .topParkingTableHead2, .parkP strong {
    /* Font */
    font-size: 1.25rem;
    font-weight: 900;
}

.parkT {
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.parkA {
    color: #4285f4;
    line-height: 16px;
}

.parkA img {
    width: 16px;
    height: 16px;
}

.parkingInfoCover {
    /* Flex */
    display: flex;
}

.parkingInfoIcon {
    width: 24px;
    text-align: left;
    margin-right: 12px;
}
.parkingInfoIcon img{
    width: 100%;
}

.topParkingInfoEmpty {
    display: none;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .topParkingInfo {
        padding:6px 20px 16px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
    .topParkingInfo {
        /* 100-38.45371312309258 = 61.54628687690742 */
        padding:6px 20px 16px;
        padding-left: calc(61.54628687690742% - 6px);
    }
}

@media only all and (min-width: 1024px) {
    .topParkingInfoEmpty {
        display: block;
    }
    .topParkingInfo {
        max-width: 1480px;
        margin: 0 auto;
        padding: 30px 20px 16px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .parkingAllCover {
        
        /* (378/1440)*100 = 26.25 */
        width: 26.25%;
    }
}