.topParkingInfo {
    width: 100%;
    padding:6px 16px 16px;
    white-space: pre-wrap;
    word-break: break-all;
    /* Position */
    position: relative;
}

.topParkingTitle {
    /* Font */
    font-size: 1.6rem;
    font-weight: 900;
}
.topParkingTableHead1, .topParkingTableHead2, .parkP strong {
    /* Font */
    font-size: 1.25rem;
    font-weight: 900;
}

.parkT {
    /* Font */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.parkA {
    color: #4285f4;
    /* Flex */
    display: flex;
    justify-content: start;
    align-items: center;
}

.parkA img {
    width: 14px;
    height: 14px;
}

.parkingInfoCover {
    margin-top: 15px;
    /* Flex */
    display: flex;
}

.parkingInfoIcon {
    width: 24px;
    text-align: left;
    margin-right: 12px;
}
.parkingInfoIcon img{
    width: 100%;
}

/* ---------------------------------------------------- */
/* 반응형 디자인 media query */
@media only all and (max-width: 479px) {
}

@media only all and (min-width: 480px) and (max-width: 767px) {
    .topParkingInfo {
        padding:6px 20px 16px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1023px) {
    .topParkingInfo {
        /* 100-38.45371312309258 = 61.54628687690742 */
        padding:6px 20px 16px;
        padding-left: calc(61.54628687690742% - 6px);
    }
}

@media only all and (min-width: 1024px) {
    .topParkingWholeCover {
        background-color: #f2f2f7;
    }

    .parkingInfoCover{
        margin-top: 20px;
    }

    .parkingInfoCover:first-of-type {
        margin-top: 0;
    }

    .topParkingInfo {
        max-width: 1320px;
        margin: 0 auto;
        padding: 30px 20px;
        /* Flex */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .parkingAllCover {
        /* (899/1440)*100 = 62.43055555555556 = 46.822916666666664 */
        width: 62.43055555555556%;
    }

    .parkingInfoAllCover{
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    .explainName {
        display: block;
        margin-left: 2px;
        margin-bottom: 12px;
        /* Font */
        font-size: 24px;
        font-weight: 700;
    }

    .parkT {
        margin-top: 5px;
    }
}